{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function modifyAbstract(id) {
    window.location = '/account/abstracts/modify/' + id;
}

function deleteAbstract(id) {
    if (confirm("Do your really want do delete this abstract?") === true) {
        window.location = '/account/abstracts/delete/' + id;
    }
}

function getTex(id) {
    window.open('/account/abstracts/tex/' + id, '_blank');
}

function getPdf(id) {
    window.open('/account/abstracts/pdf/' + id, '_blank');
}

function getLog(id) {
    window.open('/account/abstracts/log/' + id, '_blank');
}
</script>
{% endblock %}

{% block content %}
    <h2>My Abstracts</h2>

    {% if message %}
        <div class="note error">
            <b>ERROR:</b> {{ message }}
        </div>
    {% endif %}

    {% if has_profile %}
        {% if not abstracts %}
            <div id="abstracts-box">Currently you have no abstract in the system.</div>
        {% else %}
            <div id="abstracts">
                <table>
                    <tbody>
                        {% for abstract in abstracts %}
                            <tr>
                                <th>ID:</th>
                                <td>{{ abstract.id }}</td>
                            </tr>
                            <tr>
                                <th>Title:</th>
                                <td>{{ abstract.to_cls.title|escape }}</td>
                            </tr>
                            <tr>
                                <th>Build Status:</th>
                                <td>{{ abstract.compiled|yesno:"Success (compilation succeeded),Failure (see log for details),Pending (compilation in progress)" }}</td>
                            </tr>
                            <tr>
                                <th>Format Check:</th>
                                <td>{{ abstract.verified|yesno:"Success (your abstract was sent for review),Failure (format compliance problems detected),Pending (your abstract is waiting for format check)" }}</td>
                            </tr>
                            <tr>
                                <th>Review Status:</th>
                                <td>{{ abstract.accepted|yesno:"Accepted (your abstract was accepted),Not Accepted (your abstract was not accepted),Pending (your abstract is under review)" }}</td>
                            </tr>
                            <tr>
                                <th>Submitted:</th>
                                <td>{{ abstract.submit_date }}</td>
                            </tr>
                            {% ifnotequal abstract.submit_date abstract.modify_date %}
                                <tr>
                                    <th>Last Modified:</th>
                                    <td>{{ abstract.modify_date }}</td>
                                </tr>
                            {% endifnotequal %}
                            <tr>
                                <th></th>
                                <td>
                                    <button class="button" onclick="modifyAbstract('{{ abstract.id }}')"
                                        {% if abstract.accepted != None %} disabled="disabled" {% endif %}>Modify</button>
                                    <button class="button" onclick="deleteAbstract('{{ abstract.id }}')"
                                        {% if abstract.accepted != None %} disabled="disabled" {% endif %}>Delete</button>
                                    <button class="button" onclick="getTex('{{ abstract.id }}')">TeX</button>
                                    <button class="button" onclick="getPdf('{{ abstract.id }}')">PDF</button>
                                    <button class="button" onclick="getLog('{{ abstract.id }}')">Log</button>
                                </td>
                            </tr>
                            {% if not forloop.last %}
                                <tr><th class="bar" /><td class="bar" /></tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <button class="button" onclick="window.location='/account/abstracts/submit/'">Submit Abstract</button>
    {% else %}
        <div id="abstracts-box">Abstract submission is disabled until you finish your user <a href="/account/profile/">profile</a>.</div>
    {% endif %}
{% endblock %}
