{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function addAuthorField(event, after, initial) {
    if (after === undefined) {
        after = $(event.target).parent().parent();
    } else {
        after = $(after);
    }

    var el = after.after($("#author_tpl").html());

    if (initial) {
        el = el.next();

        el.find("[name='first_name']").val(initial.first_name);
        el.find("[name='last_name']").val(initial.last_name);
        el.find("[name='address']").val(initial.address);
        el.find("[name='email']").val(initial.email);
    }
}

function delAuthorField(event) {
    if ($("form li.author").length === 1) {
        alert("Abstract must have at least one author.");
    } else {
        $(event.target).parent().parent().remove();
    }
}

function addBibitemField(event, after, initial) {
    if (after === undefined) {
        after = $(event.target).parent().parent();
    } else {
        after = $(after);
    }

    var el = after.after($("#bibitem_tpl").html());

    if (initial) {
        el = el.next();

        function bibitemAuthorToString(author) {
            return author.first_name + " " + author.last_name;
        }

        function bibitemAuthorsToString(authors) {
            var arr = [];

            $.each(authors, function(i, author) {
                arr.push(bibitemAuthorToString(author));
            });

            return arr.join(", ");
        }

        el.find("[name='bibitem_bibid']").val(initial.bibid);
        el.find("[name='bibitem_authors']").val(bibitemAuthorsToString(initial.authors));
        el.find("[name='bibitem_title']").val(initial.title);
        el.find("[name='bibitem_other']").val(initial.other);
    }
}

function delBibitemField(event) {
    if ($("form li.bibitem").length === 1) {
        alert("Abstract must have at least one bibliography item.");
    } else {
        $(event.target).parent().parent().remove();
    }
}

function validateForm() {
    var title = $("form [name='title']");
    var content = $("form [name='abstract']");
    var first_names = $("form [name='first_name']");
    var last_names = $("form [name='last_name']");
    var addresses = $("form [name='address']");
    var emails = $("form [name='email']");
    var bibitems_bibid = $("form [name='bibitem_bibid']");
    var bibitems_authors = $("form [name='bibitem_authors']");
    var bibitems_title = $("form [name='bibitem_title']");
    var bibitems_other = $("form [name='bibitem_other']");

    $('form > ul > li').removeClass('error');

    if (title.val().length == 0) {
        title.parents('li').addClass('error');
        alert("Title must be non-empty.");
        return false;
    }

    if (content.val().length == 0) {
        content.parents('li').addClass('error');
        alert("Abstract must be non-empty.");
        return false;
    }

    function Error() {}

    function validateEls(els, message) {
        $.each(els, function(i, el) {
            if ($(el).val().length == 0) {
                $(el).parents('li').addClass('error');
                alert(message);
                throw new Error();
            }
        });
    }

    try {
        validateEls(first_names, "Missing author's first name.");
        validateEls(last_names, "Missing author's last name.");
        validateEls(addresses, "Missing author's address.");
        validateEls(emails, "Missing author's E-mail.");
        validateEls(bibitems_bibid, "Missing bibliography item's id.");
        validateEls(bibitems_authors, "Missing bibliography item's authors.");
        validateEls(bibitems_title, "Missing bibliography item's title.");
        validateEls(bibitems_other, "Missing bibliography item's other data.");
    } catch (exc) {
        if (exc instanceof Error) {
            return false;
        } else {
            throw exc;
        }
    }

    return true;
}

$(document).ready(function() {
    {% if initial %}
    var initial = $("#initial").html().trim();
    var data = JSON.parse(initial);

    $("form [name='title']").val(data['title']);
    $("form [name='abstract']").val(data['abstract']);

    if (data.authors.length === 0) {
        addAuthorField(undefined, "form ul li:last");
    } else {
        $.each(data.authors, function(i, author) {
            addAuthorField(undefined, "form ul li:last", author);
        });
    }

    if (data.bibitems.length === 0) {
        addBibitemField(undefined, "form ul li:last");
    } else {
        $.each(data.bibitems, function(i, bibitem) {
            addBibitemField(undefined, "form ul li:last", bibitem);
        });
    }
    {% else %}
    addAuthorField(undefined, "form ul li:last");
    addBibitemField(undefined, "form ul li:last");
    {% endif %}
});
</script>

<script id="initial" type="plain/text">
{% if initial %}
{{ initial|safe }}
{% endif %}
</script>
{% endblock %}

{% block content %}
    <h2>
        {% block header %}
        Submit Abstract
        {% endblock %}
    </h2>

    <p>
    Please enter your abstract below. Latex formulas are allowed, inclusion
    of images is not supported, and a few references to related or competitive work
    are required. The abstract must not exceed one page, including references.
    After submission, your abstract will go through a quick format compliance check
    followed by a notification. If the format is correct, your abstract will be automatically
    forwarded for review. The review will be followed by a notification again.
    At any time, you can return to this page and check the current status of your
    submission.
    </p>

    {% if error %}
        <div class="note error">
            <b>ERROR:</b> {{ error|safe }}
        </div>
    {% endif %}

    {% if message %}
        <div class="note success">
            {{ message|safe }}
        </div>
    {% endif %}

    <div class="form large">
        <form id="form" method="post" action=".{% if next %}/?next={{ next }}{% endif %}" onsubmit="return validateForm()">
            <ul>
                <li id="title">
                    <label>Title</label>
                    <br />
                    <input type="text" name="title"></input>
                    <span>Example: "New Finite Element Method for Electromagnetics".</span>
                </li>
                <li id="abstract">
                    <label>Abstract</label>
                    <br />
                    <textarea name="abstract"></textarea>
                    <span>Your abstract should have at least 10 lines.</span>
                </li>
            </ul>
            <button id="submit" type="submit">{% block submit %}Submit Abstract{% endblock %}</button>
        </form>
    </div>

    <div id="author_tpl" style="display: none">
        <li class="author">
            <label>Author</label>
            <br />
            <span class="inline first_name">
                <input type="text" name="first_name"></input>
                <span>First name</span>
            </span>
            <span class="inline last_name">
                <input type="text" name="last_name"></input>
                <span>Last name</span>
            </span>
            <br />
            <span class="block address">
                <input type="text" name="address"></input>
                <span>Affiliation</span>
            </span>
            <br />
            <span class="block email">
                <input type="text" name="email"></input>
                <span>E-mail address</span>
            </span>
            <br />
            <br />
            <span>Add or remove authors?</span>
            <span class="links">
                <a href="javascript://" onclick="addAuthorField(event)">add</a>
                <a href="javascript://" onclick="delAuthorField(event)">remove</a>
            </span>
        </li>
    </div>

    <div id="bibitem_tpl" style="display: none">
        <li class="bibitem">
            <label>Bibliography item</label>
            <br />
            <span class="block">
                <input type="text" name="bibitem_bibid"></input>
                <span>Identifier of bibliography item</span>
            </span>
            <br />
            <span class="block">
                <input type="text" name="bibitem_authors"></input>
                <span>Comma-separated list of authors</span>
            </span>
            <br />
            <span class="block">
                <input type="text" name="bibitem_title"></input>
                <span>Title (can contain LaTeX)</span>
            </span>
            <br />
            <span class="block">
                <input type="text" name="bibitem_other"></input>
                <span>Other data (journal, issue, publisher, pages, year) </span>
            </span>
            <br />
            <br />
            <span>Add or remove bibliography items?</span>
            <span class="links">
                <a href="javascript://" onclick="addBibitemField(event)">add</a>
                <a href="javascript://" onclick="delBibitemField(event)">remove</a>
            </span>
        </li>
    </div>
{% endblock %}
