<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>ESCO 2014 - 4th European Seminar on Computing</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/menus.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/boxes.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/forms.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/notes.css" rel="stylesheet" />

        <script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15768242-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="background">
            <div id="container">
                <div id="header">
                    {% if user.is_authenticated %}
                        <span class="bold">
                            {{ user.get_full_name }}
                        </span>
                        {% if user.is_staff and user.is_superuser %}
                            (<a href="/admin/">admin</a>)
                        {% endif %}
                        <span class="bar">|</span>
                        <a href="/account/logout/">logout</a>
                    {% else %}
                        <a href="/account/login/">login</a>
                        <span class="bar color">|</span>
                        create account
                    {% endif %}
                </div>
                <div id="banner"></div>
                <div class="column left">
                    <div class="box">
                        <div class="title">Main Menu</div>
                        <ul class="menu">
                            <li><a href="/">Home Page</a></li>
                            <li><a href="/venue/">Conference Venue</a></li>
                            <li><a href="/for_authors/">Oral and Poster</a></li>
                            <li><a href="/committees/">Speakers & Committees</a></li>
                            {% if user_count > 50 %}
                            <li><a href="/participants/">List of Participants </a></li>
                            {% endif %} 
                            <li><a href="/sponsors/">Conference Sponsors</a></li>
                            <li><a href="/payment/">Registration Fees</a></li>
                            <li><a href="/sponsorship/">Sponsorship</a></li>
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="box">
                        <div class="title">User Menu</div>
                        <ul class="menu">
                            <li><a href="/account/">User Home</a></li>
                            <li><a href="/account/profile/">Edit Profile</a></li>
                            {% if ENABLE_ABSTRACT_SUBMISSION %}
                            <li><a href="/account/abstracts/">Submit Abstract</a></li>
                            {% endif %}
                            <li><a href="/account/password/change/">Change Password</a></li>
                            <li><a href="/account/delete/">Delete Account</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="column right">
                    <div class="box">
                        <img src="{{ MEDIA_URL }}img/current/img-1.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-2.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-3.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-4.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-5.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-6.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-7.png" />
                        {% if not user.is_authenticated %}
                        <img src="{{ MEDIA_URL }}img/current/img-8.png" />
                        {% endif %}
                    </div>
                </div>
                <div class="column left">
                    <div class="box">
                        <div class="title">Important Dates</div>
                        <ul class="list">
                            <li class="head">Abstract Submission Open</li>
                            <li class="tail">Based on this year's increased demand, one more parallel session was added. 
                                             Abstract submission is still open!</li>
                            <li class="head">March 31, {{ conf_year }}</li>
                            <li class="tail">Minisymposia proposals.</li>
                            <li class="head">March 31, {{ conf_year }}</li>
                            <li class="tail">Notification of acceptance.</li>
                            <li class="head">March 15, {{ conf_year }}</li>
                            <li class="tail">Early registration fee payment.</li>
                            <li class="head">September 30, {{ conf_year }}</li>
                            <li class="tail">Paper submission.</li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="title">Previous Conferences</div>
                        <ul class="menu">
				<li><a href="http://femtec2013.femhub.com">FEMTEC 2013</a></li>
        	                <li><a href="http://esco2012.femhub.com">{{ conf_name_upper }} 2012</a></li>
				<li><a href="http://femtec2011.femhub.com">FEMTEC 2011</a></li>
				<li><a href="http://esco2010.femhub.com">{{ conf_name_upper }} 2010</a></li>
				




			    <!--<li><a href="http://hpfem.org/events/esco-2010/">{{ conf_name_upper }} 2010</a></li>
			    <li><a href="http://hpfem.org/events/esco-2008/">{{ conf_name_upper }} 2008</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <!--<div class="column right">
                    {% if user.is_authenticated %}
                        <div style="height: 70px"></div>
                    {% else %}
                        <div style="height: 61px"></div>
                    {% endif %}
                    <div class="box">
                        <img src="{{ MEDIA_URL }}img/current/img-7.png" />   
                        <img src="{{ MEDIA_URL }}img/current/img-8.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-9.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-10.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-11.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-12.png" />
                    </div>
                </div>-->
                <div id="content">
                    {% block content %}
                        {% block message %}
                            {% if message %}
                                <div class="note success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endblock %}
                        <h1>
                            {{ conf_name_upper }} {{ conf_year }}
                        </h1>
                        <h3>
                            4th European Seminar on Computing  
                            <br>
                        </h3>
                        <h3>
                            Pilsen, Czech Republic, June 15 - 20, {{ conf_year }}  
                        </h3>
<hr>
<h2>ESCO 2014 has finished, thank you for participating!</h2>

Proceedings will appear as a special issue of <a href="http://www.journals.elsevier.com/applied-mathematics-and-computation/">Applied Mathematics and Computation (AMC),</a> a top quality international journal with impact factor 1.6. The deadline for paper submission is the end of September 2014. Recommended maximum length of all papers is 18–20 pages. All papers must be <a href="http://www.journals.elsevier.com/applied-mathematics-and-computation/">submitted online.</a> Select ESCO 2014 as article type. Formatting style of the journal must be followed exactly. Please do not send your papers to organizers, we cannot submit your paper on your behalf. <b>Please make sure to recommend three reliable referees</b> - the length of your review process will depend largely on them. The referees may not be from the same institution where you work. Also they may not be your past or current collaborators, advisors, or co-authors. Every paper will be subject to a standard review process.<br>
<br>

<b>The organizing team lead by Dr. Solin wishes you the best of luck in your next scientific endeavors, 
and we are looking forward to seeing you perhaps in two years again!</b>

                        <hr>
			<p>
                        Preliminary program has been posted (<a href="http://esco2014.femhub.com/docs/program.pdf">PDF</a>).
			</p>
			<p>
			Book of abstracts can be found <a href="http://esco2014.femhub.com/docs/ESCO2014_Book_of_Abstracts.pdf">here</a>.
			</p>
			<p>
			The Spilka Restaurant will serve <a href="http://esco2014.femhub.com/docs/ESCO2014_lunches_offer_Spilka.pdf">100 CZK lunches</a> to ESCO 2014 participants (badge required).
			</p>
                        <hr>
                        <p>
                            {{ conf_name_upper }} {{ conf_year }} is the 4th event in a successful series of interdisciplineary international conferences. It promotes modern technologies and practices 
in scientific computing and visualization, and strengthens the interaction between researchers and practitioners in various areas of computational engineering and sciences.

                        <h3>{{ conf_year }} main themes</h3>
                        Main conference tracks include, but are not restricted to:
                        <p>
                        
                        - Computational electromagnetics and coupled problems,<br>
                        - Fluid-structure interaction and multi-phase flows,<br>
                        - Computational chemistry and quantum physics,<br>
                        - Computational civil and structural engineering,<br>
                        - Computational biology and bioinformatics,<br>
                        - Computational geometry and topology,<br>
                        - Hydrology and porous media flows,<br>
                        - Wave propagation and acoustics,<br>
                        - Climate and weather modeling,<br>
                        - GPU and cloud computing,<br>
                        - Uncertainty quantification,<br>
                        - Open source software.
                        
                        </p>
			<p>
			<div class="box">
			<img src="{{ MEDIA_URL }}img/banner_exliz.png" />
			</div>
			Tato akce je realizována v rámci projektu EXLIZ – CZ.1.07/2.3.00/30.0013, který JE SPOLUFINANCOVÁN EVROPSKÝM SOCIÁLNÍM FONDEM A STÁTNÍM ROZPOČTEM ČESKÉ REPUBLIKY.

			</p>


                        <h3>Minisymposia</h3>
                        <p>
                        Minisymposia proposals are welcome. A minisymposium should consist of at
                        least four lectures related to the same topic. If you are interested in 
                        organizing a minisymposium, please send a title, short abstract, and  
                        list of speakers to {{ conf_email }}.
                        <a href="/minisymposia/">List of minisymposia.</a>
                        </p>

                        <h3>Awards</h3>
                        <p>
                        Best Poster will be awarded with a diploma and a prize
                        during a ceremony to take place on Thursday, June 19. All student presentations and all posters are automatically nominated. The selection will be done by 
                        a vote of all participants. 
                        </p>

                        <h3>Software afternoon</h3>
                        <p>
                        Important part of each {{ conf_name_upper }} conference is a software afternoon featuring computational software projects of participants. Presented can be any computational software that has reached certain level of maturity, i.e., it is used outside
                        of the author's institution, and it has a web page and a user documentation.
                        If you are interested in presenting your software in the Software Afternoon,  
                        please let us know at {{ conf_email }}. <a href="/minisymposia/">List of software workshops.</a>
                        </p>

                        <h3>Proceedings</h3>
                        <p>
Proceedings of {{ conf_name_upper }} {{ conf_year }} will appear as a special issue of <a href="http://www.journals.elsevier.com/applied-mathematics-and-computation/">Appl. Math. Comput.</a> (impact factor 1.349). The submissions will have the format of a standard journal paper and they will be refereed in a standard way.

<!--                         Proceedings of {{ conf_name_upper }} {{ conf_year }} will appear in 
                        <a href="http://www.journals.elsevier.com/journal-of-computational-and-applied-mathematics/">Journal
                        of Applied and Computational Mathematics (JCAM)</a>,
                        an international journal with impact factor.
                        </p>-->

                        <h3>Registration and Abstract Submission</h3>
                        <p>
                        In order to register and submit an abstract for {{ conf_name_upper }} {{ conf_year }}, click the "login" link in the top-right corner of the page and follow the instructions.
                        </p>
                        <h3>Organizing Committee</h3>
                        <p>
                    <ul>
        <b>Pavel Solin</b>(University of Nevada, Reno, USA), chair <br>
        <b>Pavel Karban</b> (Faculty of Electrical Engineering, University of West Bohemia, Pilsen), co-chair<br>
        <b>Jaroslav Kruis</b> (Faculty of Civil Engineering, CTU Prague), co-chair<br>
        <b>Pavel Kus</b> (Faculty of Electrical Engineering, University of West Bohemia, Pilsen), co-chair<br>
        <b>Sascha Schnepp</b> (ETH Zurich, Switzerland), co-chair<br>
    </ul>
          

                        </p>
                    {% endblock %}
                </div>
            </div>
            <div id="clearer"></div>
            <div id="footer">
                Copyright &copy; 2013-{{ conf_year }} <a href="http://femhub.com">FEMhub Inc.</a> All Rights Reserved.
            </div>
        </div>
    </body>
</html>
