<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>ESCO 2012 - European Seminar on Computing</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/menus.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/boxes.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/forms.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/notes.css" rel="stylesheet" />

        <script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="background">
            <div id="container">
                <div id="header">
                    {% if user.is_authenticated %}
                        <span class="bold">
                            {{ user.get_full_name }}
                        </span>
                        {% if user.is_staff and user.is_superuser %}
                            (<a href="/admin/">admin</a>)
                        {% endif %}
                        <span class="bar">|</span>
                        <a href="/account/logout/">logout</a>
                    {% else %}
                        <a href="/account/login/">login</a>
                        <span class="bar color">|</span>
                        <a href="/account/create/">create account</a>
                    {% endif %}
                </div>
                <div id="banner"></div>
                <div class="box left">
                    <div class="title">Main Menu</div>
                    <ul class="menu">
                        <li><a href="/">Home Page</a></li>
                        <li><a href="/committees/">Speakers & Committees</a></li>
                        <li><a href="/travel/">Travel & Accommodation</a></li>
                        <li><a href="/postconf/">Post Conference Program</a></li>
                        <li><a href="/payment/">Payment Information</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                        <img src="/media/img/pilsen/pilsen-1-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-2-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-3-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-4-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-5-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-7-small.png" style="border: none" width=183></img>
<!--
        <a href="/media/img/pilsen/pilsen-5.jpg">
            <img src="/media/img/pilsen/pilsen-5-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/pilsen/pilsen-6.jpg">
            <img src="/media/img/pilsen/pilsen-6-small.jpg" style="border: none"></img>
        </a>
-->
                </div>
                
                <div class="box right">
                    <div class="title">Important Dates</div>
                    <ul class="list">
                        <li class="head">December 15, 2011</li>
                        <li class="tail">Abstract submission deadline.</li>
                        <li class="head">January 15, 2012</li>
                        <li class="tail">Notification of acceptance.</li>
                        <li class="head">March 15, 2012</li>
                        <li class="tail">Early registration fee payment.</li>
                        <li class="head">September 30, 2012</li>
                        <li class="tail">Paper submission.</li>
                    </ul>
                </div>
                <div class="box right">
                    <div class="title">Latest News</div>
                    <ul class="list">
                        <li class="head">July 22, 2011</li>
                        <li class="tail">ESCO 2012 website launched.</li>
                    </ul>
                </div>
<!--                <div class="box right">
                    <div class="title">ESCO 2012 Color Flyer</div>
                    <ul class="list">
                        <li class="tail">The flyer for ESCO 2012 in PDF can be found
                        <a href="{{ MEDIA_URL }}img/flyer-esco-2012.pdf">here</a>.</li>
                    </ul>
                </div>
 -->
                {% if user.is_authenticated %}
                <div class="box left">
                    <div class="title">User Menu</div>
                    <ul class="menu">
                        <li><a href="/account/">User Home</a></li>
                        <li><a href="/account/profile/">Edit Profile</a></li>
                        {% if ENABLE_ABSTRACT_SUBMISSION %}
                        <li><a href="/account/abstracts/">Submit Abstract</a></li>
                        {% endif %}
                        <li><a href="/account/password/change/">Change Password</a></li>
                        <li><a href="/account/delete/">Delete Account</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="box right">
                    <div class="title">Previous Conferences</div>
                    <ul class="list">
                        <li><a href="http://hpfem.org/events/esco-2010/">ESCO 2010</a> </li>
                        <li><a href="http://hpfem.org/events/esco-2008/">ESCO 2008</a> </li>
                    </ul>
                </div>
                <div class="box right">
                        <img src="/media/img/pilsen/pilsen-20-small.png" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-2-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-3-small.jpg" style="border: none" width=183></img>
                        <img src="/media/img/pilsen/pilsen-4-small.jpg" style="border: none" width=183></img>
                </div>
                <div id="content">
                    {% block content %}
                        {% block message %}
                            {% if message %}
                                <div class="note success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endblock %}
                        <h1>
                            ESCO 2012
                        </h1>
                        <h3>
                            European Seminar on Computing
                            <br/>
                            Pilsen, Czech Republic, June 25 - 29, 2012
                        </h3>
                        <hr>
                        <p>
<!--
                            <b>ESCO 2012</b> is an international workshop organized by FEMhub Inc. in
                            partnership with
                            <a href="http://www.unr.edu">University of Nevada</a> (Reno),
                            <a href="http://www.sandia.gov">Sandia National Laboratories</a> (Albuquerque),
                            <a href="http://www.it.cas.cz">Institute of Thermomechanics</a> (Prague),
                            <a href="http://www.zcu.cz">University of West Bohemia</a> (Pilsen), and
                            <a href="http://www.cvut.cz">Czech Technical University</a> (Prague).
-->

                            ESCO 2012 is the 3rd event in a successful series of interdisciplineary meetings 
                            dedicated to modern methods and practices of scientific computing. Main topic areas 
                            for the 2012 meeting include
                            <ul>
                                <li>Multiphysics coupled problems</li>
                                <li>Higher-order computational methods</li>
                                <li>Computing with <a href="http://www.python.org">Python</a></li>
                                <li>GPU computing</li>
                                <li>Cloud computing</li>
                            </ul>
                        </p>
                        <h3>Minisymposia</h3>
                        <p>
                        Current list of minisymposia can be found <a href="/minisymposia/">here</a>.
                        Proposals for minisymposia consisting of at least four lectures related to
                        the same topic are accepted until December 15.
                        </p>
                        <h3>Proceedings</h3>
                        <p>
                        Proceedings of ESCO 2012 will appear as special issue of an international journal with impact factor.
                        <!--<a href="http://www.elsevier.com/wps/find/journaldescription.cws_home/522482/description">Applied Mathematics and
                        Computation</a> (AMC), an Elsevier journal with impact factor 1.534.-->
                        </p>
                        <h3>Registration and Abstract Submission</h3>
                        <p>
                            In order to register and submit an abstract for ESCO 2012, click the "login" link
                            in the top-right corner of the page and follow the instructions.
                        </p>
                        <h3>Organizing Institutions</h3>
                        <p>
                            ESCO 2012 is organized by <a href="http://femhub.com">FEMhub Inc.</a> in 
                            collaboration with <a href="http://www.sandia.gov">Sandia National Laboratories</a>, <a href="http://www.zcu.cz/en/">University of West Bohemia</a>,
                            <a href="http://www.cvut.cz/en?set_language=en">Czech Technical University</a>, <a href="http://www.tu-darmstadt.de/index.en.jsp">Technical University of Darmstadt</a>, and 
                            <a href="http://www.uni-erlangen.org/">University of Erlangen-Nuernberg</a>.
                        </p>
                    {% endblock %}
                </div>
            </div>
            <div id="clearer"></div>
            <div id="footer">
                Copyright &copy; 2011-2012 <a href="http://femhub.com">FEMhub Inc.</a> All Rights Reserved.
            </div>
        </div>
    </body>
</html>
