{% extends "base.html" %}

{% block content %}

    <h2>Confirmed Keynote Speakers</h2>

    <ul>
        <li><b>Carlo de Falco</b> (Politecnico di Milano, Italy, on behalf of the GNU Octave community)</li>
        <li><b>Charbel Farhat</b> (Stanford University, USA)</li>
        <li><b>Rainald Lohner</b> (George Mason University, USA)</li>
        <li><b>Stan Posey</b> (Nvidia, USA)</li>
        <li><b>Gretar Tryggvason</b> (University of Notre Dame, USA)</li>
        <li><b>Aihui Zhou</b> (Chinese Academy of Sciences, Beijing)</li>
    </ul>

    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Zdenek Bittnar</b> (Faculty of Civil Engineering, CTU Prague)</li>
        <li><b>Alain Bossavit</b> (Laboratoire de Genie Electrique de Paris, France)</li>
        <li><b>John Butcher</b> (Auckland University, New Zealand)</li>
        <li><b>Antonio DiCarlo</b> (University Roma Tre, Rome, Italy)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Stefano Giani</b> (University of Nottingham, UK)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, Sophia-Antipolis, France)</li>
        <li><b>Jichun Li</b> (University of Nevada, Las Vegas, USA)</li>
        <li><b>Shengtai Li</b> (Los Alamos National Laboratory, Los Alamos, USA)</li>
        <li><b>Alberto Paoluzzi</b> (University Roma Tre, Rome, Italy)</li>
        <li><b>Francesca Rapetti</b> (University of Nice, France)</li>
        <li><b>Sascha Schnepp</b> (ETH Zurich, Switzerland)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <b>Pavel Solin</b>    (University of Nevada, Reno, USA), 
        <b>Valmor de Almeida</b>   (Oak Ridge National Laboratory, Oak Ridge, USA), 
        <b>Pavel Karban</b>   (University of West Bohemia, Pilsen, Czech Republic), 
        <b>Jichun Li</b>      (University of Nevada, Las Vegas, USA), 
        <b>Sascha Schnepp</b> (ETH Zurich, Switzerland).

    </ul>
{% endblock %}
