{% extends "base.html" %}

{% block content %}

    <h2>List of Minisymposia</h2>

    <ul>
        <li><b>Advances in Discontinuous Galerkin Methods for complex wave
propagation problems (Sascha Schnepp, ETH Zurich and Stephane Lanteri, INRIA)</b><br>
        The Discontinuous Galerkin method has  reached a state of maturity and
        is  now  widely  developed  for addressing  various  and  increasingly
        complex  problems in computational  sciences. This  mini-symposium is,
        hence,  concerned  with  advances  and  novel DG  techniques  for  the
        computer   simulation   of    complex   wave   propagation   problems.
        Contributions  on  methodological advances  -  such  as hybridized  DG
        methods, efficient time integration, error estimation and adaptivity -
        or  the  modeling  of  complex  situations and  materials  -  such  as
        encountered in nano-sciences,  bioelectromagnetics or coupled problems
        - are most welcome. </li>
        <li><b>Numerical modeling of metamaterials (Jichun Li, UNLV)</b><br>
        The aim of this minisymposium is to exchange
        ideas and further explore some major challenges and approaches to
        numerical modeling of wave propagation in metamaterials, including
        numerical studies of nonlinear metamaterials, multiscale modeling,
        material parameters retrieval, optimization algorithms and
        applications of metamaterials. </li>
        <li><b>Coupled problems in electromagnetics (Pavel Karban, UWB)</b><br>
        The aim of this minisymposium is to present and discuss state-of-the-art
        mathematical models, numerical methods, and computational techniques for 
        solving multiphysics coupled problems rooted in electromagnetic fields.
        Target applications include induction and dielectric heating, electromechanical 
        transducers, and high-voltage phenomena of thermoelasticity.
    </ul>

If you are interested in organizing a minisymposium, please send a tentative title and 
a brief description to {{ conf_email }}.

{% endblock %}
