{% extends "base.html" %}

{% block content %}

    <h2>List of Minisymposia</h2>

    <ul>
        <li><b>Numerical modeling of metamaterials (Jichun Li, UNLV)</b><br>
        The aim of this minisymposium is to exchange
        ideas and further explore some major challenges and approaches to
        numerical modeling wave propagation in metamaterials, including
        numerical studies of nonlinear metamaterials, multiscale modeling,
        material parameters retrieval, optimization algorithms and
        applications of metamaterials. </li>
    </ul>

If you are interested in organizing a minisymposium, please send a tentative title and 
a brief description to {{ conf_email }}.

{% endblock %}
