{% extends "base.html" %}

{% block content %}

    <h2>List of Minisymposia (newest on top)</h2>

    <ul>
        <li><b>Recent Developments in Adaptivity and A Posteriori Error Analysis (P. Houston, 
        University of Nottingham, UK)</b><br>
        The exploitation of computable a posteriori error bounds within adaptive mesh-refinement 
        strategies is of fundamental importance to guarantee the reliable and efficient numerical 
        simulation of mathematical models arising in computational science and engineering. The 
        objective of this minisymposium is to present recent work undertaken in this field; in 
        particular, topics of interest will include: dual-weighted-residual error estimation, 
        adaptive model reduction, error estimation of time-dependent problems, and 
        hp-adaptive refinement strategies.
        </li>
        <li><b>Advances in Discontinuous Galerkin Methods for complex wave
        propagation problems (S. Schnepp, ETH Zurich and S. Lanteri, INRIA)</b><br>
        This  minisymposium is
        concerned  with  advances  and  novel DG  techniques  for  the
        computer   simulation   of    complex   wave   propagation   problems.
        Contributions  on  methodological advances  -  such  as hybridized  DG
        methods, efficient time integration, error estimation and adaptivity -
        or  the  modeling  of  complex  situations and  materials  -  such  as
        encountered in nano-sciences,  bioelectromagnetics or coupled problems
        - are most welcome. </li>
        <li><b>Numerical modeling of metamaterials (J. Li, UNLV)</b><br>
        The aim of this minisymposium is to exchange
        ideas and further explore some major challenges and approaches to
        numerical modeling of wave propagation in metamaterials, including
        numerical studies of nonlinear metamaterials, multiscale modeling,
        material parameters retrieval, optimization algorithms and
        applications of metamaterials. </li>
        <li><b>Coupled problems in electromagnetics (P. Karban, UWB)</b><br>
        The aim of this minisymposium is to present and discuss state-of-the-art
        mathematical models, numerical methods, and computational techniques for 
        solving multiphysics coupled problems rooted in electromagnetic fields.
        Target applications include induction and dielectric heating, electromechanical 
        transducers, and high-voltage phenomena of thermoelasticity.
    </ul>

If you are interested in organizing a minisymposium, please send a tentative title and 
a brief description to {{ conf_email }}.

{% endblock %}
