{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
    In an attempt to keep the participant cost low, we preserved the 
    registration fees from 2011:
    
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>Received by March 15, 2013</td>
        <td>Received after March 15, 2013</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>3450 USD</td>
                <td>750 USD</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>350 USD</td>
                <td>550 USD</td>
            </tr>
            <tr>
                <td>Accompanying persons (guests)</td>
                <td>250 USD</td>
                <td>350 USD</td>
            </tr>
        </tbody>
    </table>
<p> </p>

    <p> 
    Estimated cost of accommodation is $500 for the 5 days of the conference. 
    These will be either part of the registration fee or paid to the hotel
    separately (negotiations are still under way).
    </p> 

    <p> 
        The regular and student conference fees cover conference administration, 
        on-site work of technicians,
        rental of conference facilities and audio-visual equipment, 
        coffee breaks, welcome reception, farewell party, 
        preparation and printing of conference materials, 
        and expenses of invited speakers. Each participant will receive 
        a conference T-Shirt. The accompanying person (guest) fee 
        covers coffee breaks, welcome reception, farewell party, and the 
        conference T-Shirt.
    </p>

    <p>
    Detailed payment instructions are available in your account after login.
    </p>

    


{% endblock %}

