{% extends "base.html" %}

{% block content %}
    <h2>Post Conference Program</h2>

    <p>
        For participants wishing to spend the weekend after the conference in Prague,
        we will provide a tour of the Prague Old Town, Charles Bridge and Prague Castle 
        on Saturday June 30. A viable option is to stay at the Angelo hotel in Pilsen 
        until Saturday morning and take an early train to Prague. One such train departs at 
        7:08 am and arrives at the Prague Main Station (PMS) at 8:51 am. Then you can 
        leave your baggage at PMS. After touring Prague, you can pick up your bags and 
        go either to your next hotel in Prague, or directly to the Airport using the 
        Airport Express bus. This bus reaches the airport in approximately 50 minutes 
        and it leaves PMS every 30 minutes. In any case, contact the organizers and 
        we'll help with the arrangements.
    </p>

    <div style="text-align: center">
        <a href="/media/img/prague/prague.jpg">
            <img src="/media/img/prague/prague-small.jpg" style="border: none"></img>
        </a><br>
        <a href="/media/img/prague/prague-1.jpg">
            <img src="/media/img/prague/prague-1-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-2.jpg">
            <img src="/media/img/prague/prague-2-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-3.jpg">
            <img src="/media/img/prague/prague-3-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-5.jpg">
            <img src="/media/img/prague/prague-5-small.jpg" style="border: none"></img>
        </a>
    </div>

{% endblock %}
