{% extends "base.html" %}

{% block content %}
    <h2>Sponsorship Opportunities</h2>

    <p>
    FEMTEC 2013 is a not-for-profit conference whose mission 
    is to promote modern technologies and practices in scientific computing 
    and visualization, as well as strengthen the interaction 
    between researchers and 
    practitioners in all areas of computational engineering 
    and sciences. In order to keep the conference fees low and to
    encourage participation, we solicit conference sponsorship 
    at varying levels. Primary sponsorship will be used to defray 
    travel costs for speakers and attendees as well as facilities 
    costs. Supporting sponsorship will contribute to various 
    aspects of the conference. 
    </p>

    <h2>Who Attends?</h2>

    <p>
    The FEMTEC conference is increasingly popular and the number of 
    participants doubles every time. The conference is attended 
    by researchers and practitioners from various areas of scientific 
    computing and visualization. Many participants are also 
    instructors of courses related to differential equations, 
    numerical methods and scientific computing at colleges and 
    universities. The size of FEMTEC 2013 
    is limited to 200 attendees by the capacity of the Stratosphere 
    Casino Tower. This year we expect the interest to vastly exceed 
    the quota which will ensure exceptionally high quality of speakers 
    and presentations.
    </p>

    <h2>Limited Sponsorships for a Limited Time</h2>

    <p>
    Please take a moment to review the various sponsorship
    levels available. The <a href="http://femhub.com/docs/sponsoring-femtec-2013.pdf">Sponsorship Request Form</a>
    has all the details. All requests for sponsorship must use
    this form. The document should be printed, filled out, 
    scanned and emailed to conference secretariat. Keep in 
    mind that the number of sponsorships is limited, so act 
    now to make sure you have the visibility you want for 
    your organization.
    </p>


    <h2>Sponsorship Levels</h2>

    <table>
    <tr>
    <td><b>Primary Sponsorship</b></td>
    <td><b>Quantity</b></td>
    <td><b>Cost</b></td>
    </tr>
    <tr>
    <td>Platinum Conference Sponsor</td>
    <td>only 1 available</td>
    <td>US$10,000</td>
    </tr>
    <tr>
    <td>Gold Conference Sponsor</td>
    <td>only 3 available</td>
    <td>US$7,500 each</td>
    </tr>
    <tr>
    <td>Silver Conference Sponsor</td>
    <td>only 5 available</td>
    <td>US$5,000 each</td>
    </tr>
    <tr> 
    <td> <hr>  </td> 
    <td> <hr>  </td> 
    <td> <hr>  </td> 
    </tr>
    <tr>
    <td><b>Supporting Sponsorship</b></td>
    <td><b>Quantity</b></td>
    <td><b>Cost</b></td>
    </tr>
    <tr>
    <td>Conference Welcome Reception</td>
    <td>only 1 available</td>
    <td>US$4,000</td>
    </tr>
    <tr>
    <td>Conference Farewell Party</td>
    <td>only 1 available</td>
    <td>US$4,000</td>
    </tr>
    <tr>
    <td>Conference Lunch</td>
    <td>only 5 available</td>
    <td>US$3,000 per day</td>
    </tr>
    <tr>
    <td>Conference Tea/Coffee</td>
    <td>only 5 available</td>
    <td>US$2,000 per day</td>
    </tr>
    <tr>
    <td>Wireless Internet</td>
    <td>only 3 available</td>
    <td>US$1,500 each</td>
    </tr>
    </table>

    <br>
    <p>
    Sponsorship is not limited to financial support per se, but can also take the form of 
    provision of hardware/software etc. Should your company be interested in a sponsorship
    package not listed here then please feel free to contact us to discuss
    your interests. 
    </p>

    <h2>Primary Sponsors</h2>

    <p>
    Our elite Platinum Sponsorship receives the maximum visibility at the conference. The Platinum Sponsor 
    is recognized as the conference sponsor before, during, and following the conference. Gold and Silver 
    Sponsors receive varying levels of visibility at the conference appropriate to their investment. These 
    sponsorships are an excellent opportunity to become involved and recognized within the computational 
    community. 
    </p>

    <table>
    <tr>
    <td></td>
    <td><b>Platinum</b></td>
    <td><b>Gold</b></td>
    <td><b>Silver</b></td>
    </tr>
    <tr>
    <td>Quantity</td>
    <td>1</td>
    <td>3</td>
    <td>5</td>
    </tr>
    <tr>
    <td>Cost</td>
    <td>US$10,000</td>
    <td>US$7,500</td>
    <td>US$5,000</td>
    </tr>
    <tr>
    <td>Keynote lecture</td>
    <td>Yes</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Logo on conference bag</td>
    <td>Yes</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Logo on conference binder</td>
    <td>Yes</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Logo displayed in conference room</td>
    <td>Yes</td>
    <td>Yes</td>
    <td></td>
    </tr>
    <tr>
    <td>Organize a minisymposium</td>
    <td>Yes</td>
    <td>Yes</td>
    <td></td>
    </tr>
    <tr>
    <td>Signage rights</td>
    <td>Yes</td>
    <td>Yes</td>
    <td></td>
    </tr>
    <tr>
    <td>Attendee passes</td>
    <td>3 free</td>
    <td>2 free</td>
    <td>1 free</td>
    </tr>
    <tr>
    <td>Attendee registration discounts</td>
    <td>Max 6, 25% off</td>
    <td>Max 4, 20% off</td>
    <td>Max 2, 10% off</td>
    </tr>
    <tr>
    <td>Logo on conference website</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Distribute company literature</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Conference acknowledgment</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    </tr>
    </table>
    <br>

    <h2>Supporting Sponsors</h2>

    <p>
    Support Sponsorship is an excellent opportunity to become actively involved in the FEMTEC conference
    and the computational community. For 
    established sponsors, these support sponsorships provide targeted brand delivery opportunities and 
    are available to all interested parties.
    </p>

    <table>
    <tr>
    <td></td>
    <td><b>Welcome Reception</b></td>
    <td><b>Farewell Party</b></td>
    <td><b>Lunch (single day)</b></td>
    <td><b>Tea/Coffee (single day)</b></td>
    <td><b>Internet</b></td>
    </tr>
    <tr>
    <td>Quantity</td>
    <td>1</td>
    <td>1</td>
    <td>5</td>
    <td>5</td>
    <td>3</td>
    </tr>
    <tr>
    <td>Cost</td>
    <td>US$4,000</td>
    <td>US$4,000</td>
    <td>US$3,000</td>
    <td>US$2,000</td>
    <td>US$1,500</td>
    </tr>
    <tr>
    <td>Logo on conference binder</td>
    <td>Yes</td>
    <td>Yes</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Logo displayed in conference room</td>
    <td>Yes</td>
    <td>Yes</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Signage rights</td>
    <td>At Welcome Reception</td>
    <td>At Farewell Party</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Attendee passes</td>
    <td>3 free to Welcome Reception</td>
    <td>3 free to Farewell Party</td>
    <td>3 free to Lunch</td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td>Logo on conference website</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Distribute company literature</td>
    <td>At Welcome Reception</td>
    <td>At Farewell Party</td>
    <td>In Conference Bags</td>
    <td>At Breaks</td>
    <td>In Conference Bags</td>
    </tr>
    <tr>
    <td>Conference acknowledgment</td>
    <td>At Welcome Reception</td>
    <td>At Farewell Party</td>
    <td>At Conference Opening</td>
    <td>At Breaks</td>
    <td>At Conference Opening</td>
    </tr>
    </table>





{% endblock %}

