{% extends "base.html" %}

{% block content %}
    <h2>{{ conf_name_upper }} {{ conf_year }} Sponsors</h2>

    <center>
    <a href="http://nsf.gov"><img src="{{ MEDIA_URL }}img/logo/logo-nsf.png" width="200 px"/></a><br>
    <a href="http://nvidia.com"><img src="{{ MEDIA_URL }}img/logo/logo-nvidia.png" width="200 px"/></a><br>
    <a href="http://imacs.org"><img src="{{ MEDIA_URL }}img/logo/logo-imacs.png" width="200 px"/></a><br>
    <a href="http://nstec.com"><img src="{{ MEDIA_URL }}img/logo/logo-nstec.png" width="200 px"/></a><br>
    </center>

{% endblock %}

