{% extends "base.html" %}

{% block content %}
    <h2>{{ conf_name_upper }} {{ conf_year }} Sponsors</h2>

    <center>
    <a href="http://nsf.gov"><img src="{{ MEDIA_URL }}img/logo/logo-nsf.png" width="200 px" vspace="5"/></a><br>
    <a href="http://nvidia.com"><img src="{{ MEDIA_URL }}img/logo/logo-nvidia.png" width="200 px"/></a><br>
    <a href="http://imacs.org"><img src="{{ MEDIA_URL }}img/logo/logo-imacs.png" width="200 px"/></a><br>
    <a href="http://nstec.com"><img src="{{ MEDIA_URL }}img/logo/logo-nstec.png" width="200 px"/></a><br>
    <a href="http://www.zcu.cz/en/"><img src="{{ MEDIA_URL }}img/logo/logo-zcu.png" width="50 px" vspace="15"/></a>
    <a href="http://www.rice.zcu.cz/?lang=en"><img src="{{ MEDIA_URL }}img/logo/logo-rice.png" width="205 px" vspace="20"/></a>
    </center>

{% endblock %}

