{% extends "base.html" %}

{% block content %}
    <h2>Sponsorship Opportunities</h2>

    <p>
    FEMTEC 2013 is a not-for-profit conference whose mission 
    is to strengthen the interaction between researchers and 
    practitioners in various areas of computational engineering 
    and sciences. In order to keep the conference fees low and to
    encourage participation, we solicit conference sponsorship 
    at varying levels. 
    </p>

    <h2>Sponsorship Levels</h2>

    <table>
    <tr>
    <td><b>Primary Sponsorship</b></td>
    <td><b>Quantity</b></td>
    <td><b>Cost</b></td>
    </tr>
    <tr>
    <td>Platinum Conference Sponsor</td>
    <td>only 1 available</td>
    <td>US$20,000</td>
    </tr>
    <tr>
    <td>Gold Conference Sponsor</td>
    <td>only 3 available</td>
    <td>US$10,000 each</td>
    </tr>
    <tr>
    <td>Silver Conference Sponsor</td>
    <td>only 5 available</td>
    <td>US$7,000 each</td>
    </tr>
    <tr> 
    <td> <hr>  </td> 
    <td> <hr>  </td> 
    <td> <hr>  </td> 
    </tr>
    <tr>
    <td><b>Supporting Sponsorship</b></td>
    <td><b>Quantity</b></td>
    <td><b>Cost</b></td>
    </tr>
    <tr>
    <td>Conference Welcome Reception</td>
    <td>only 1 available</td>
    <td>US$5,000</td>
    </tr>
    <tr>
    <td>Conference Farewell Party</td>
    <td>only 1 available</td>
    <td>US$5,000</td>
    </tr>
    <tr>
    <td>Conference Lunch</td>
    <td>only 5 available</td>
    <td>US$3,000 per day</td>
    </tr>
    <tr>
    <td>Conference Tea/Coffee</td>
    <td>only 5 available</td>
    <td>US$2,000 per day</td>
    </tr>
    <tr>
    <td>Wireless Internet</td>
    <td>only 1 available</td>
    <td>US$1,500</td>
    </tr>
    </table>


{% endblock %}

