.box {
    cursor: auto;
    margin-bottom: 5px;
    border: 1px solid #d3e7f4;
    background-color: #fafdff;
}

.box div.title {
    color: #254b6f;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    background-color: #a0bbd4;
}

.box ul.list {
    list-style-type: none;
}

.box ul.list > li {
    padding: 4px 8px 4px 8px;
    color: #000000;
}

.box ul.list > li.head {
    font-weight: bold;
    font-size: 9pt;
    color: #254b6f;
}

.box ul.list > li.tail {
    font-size: 8pt;
}

.box ul.list > li.left {
    text-align: left;
}

.box ul.list > li.center {
    text-align: center;
}

.box ul.list > li.right {
    text-align: right;
}

.box ul.list > li.justify {
    text-align: justify;
}

.box img {
    width: 100%;
}
