<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>FEMTEC 2013</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/menus.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/boxes.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/forms.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/notes.css" rel="stylesheet" />

        <script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15768242-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="background">
            <div id="container">
                <div id="header">
                    {% if user.is_authenticated %}
                        <span class="bold">
                            {{ user.get_full_name }}
                        </span>
                        {% if user.is_staff and user.is_superuser %}
                            (<a href="/admin/">admin</a>)
                        {% endif %}
                        <span class="bar">|</span>
                        <a href="/account/logout/">logout</a>
                    {% else %}
                        <a href="/account/login/">login</a>
                        <span class="bar color">|</span>
                        <a href="/account/create/">create account</a>
                    {% endif %}
                </div>
                <div id="banner"></div>
                <div class="column left">
                    <div class="box">
                        <div class="title">Main Menu</div>
                        <ul class="menu">
                            <li><a href="/">Home Page</a></li>
                            <li><a href="/travel/">Conference Venue</a></li>
                            <li><a href="/committees/">Speakers & Committees</a></li>                            
                            <li><a href="/postconf/">Post Conference Program</a></li>
                            <li><a href="/payment/">Registration Fees</a></li>
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="box">
                        <div class="title">User Menu</div>
                        <ul class="menu">
                            <li><a href="/account/">User Home</a></li>
                            <li><a href="/account/profile/">Edit Profile</a></li>
                            {% if ENABLE_ABSTRACT_SUBMISSION %}
                            <li><a href="/account/abstracts/">Submit Abstract</a></li>
                            {% endif %}
                            <li><a href="/account/password/change/">Change Password</a></li>
                            <li><a href="/account/delete/">Delete Account</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    <div class="box">
                        <img src="{{ MEDIA_URL }}img/current/img-1.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-2.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-3.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-4.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-5.png" />
                        <img src="{{ MEDIA_URL }}img/current/img-6.png" />
                    </div>
                </div>
                <div class="column right">
                    <div class="box">
                        <div class="title">Important Dates</div>
                        <ul class="list">
                            <li class="head">December 15, 2012</li>
                            <li class="tail">Abstract submission deadline.</li>
                            <li class="head">December 15, 2012</li>
                            <li class="tail">Minisymposia proposals.</li>
                            <li class="head">January 15, 2013</li>
                            <li class="tail">Notification of acceptance.</li>
                            <li class="head">March 15, 2013</li>
                            <li class="tail">Early registration fee payment.</li>
                            <li class="head">September 30, 2013</li>
                            <li class="tail">Paper submission.</li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="title">Previous Conference</div>
                        <ul class="menu">
                            <li>FEMTEC <a href="http://hpfem.org/events/femtec-2011/">2011</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <!-- <img src="{{ MEDIA_URL }}img/current/img-7.png" vspace="4"  />   -->
                        <img src="{{ MEDIA_URL }}img/current/img-8.png" vspace="4" />
                        <img src="{{ MEDIA_URL }}img/current/img-9.png" vspace="4" />
                        <img src="{{ MEDIA_URL }}img/current/img-10.png" vspace="4" />
                        <img src="{{ MEDIA_URL }}img/current/img-11.png" vspace="4" />
                        <img src="{{ MEDIA_URL }}img/current/img-12.png" vspace="4" />
                    </div>
                </div>
                <div id="content">
                    {% block content %}
                        {% block message %}
                            {% if message %}
                                <div class="note success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endblock %}
                        <h1>
                            FEMTEC 2013
                        </h1>
                        <h3>
                            Computational Methods in Engineering and Sciences
                            <br/>
                            Las Vegas, May 19 - 24, 2013
                        </h3>
                        <hr>
                        <p>
                            FEMTEC 2013 is the 4th event in a successful series of interdisciplineary 
                            international conferences
                            dedicated to modern methods and practices in scientific computing.

                        <h3>2013 themes</h3>
                        <p>
                        Main thematic areas include:
                        Multiphysics coupled problems,
                        Higher-order computational methods,
                        Computing with Python,
                        GPU computing, and
                        Cloud computing.
                        </p>
                        <h3>Application areas</h3>
                        <p>
                        Theoretical results as well as applications are welcome. Application areas
                        include, but are not limited to: Computational electromagnetics, Civil engineering,
                        Nuclear engineering, Mechanical engineering, Nonlinear dynamics, Fluid dynamics,
                        Climate and weather modeling, Computational ecology, Wave propagation, Acoustics, 
                        Geophysics, Geomechanics and rock mechanics, Hydrology,
                        Subsurface modeling, Biomechanics, Bioinformatics, Computational 
                        chemistry, Stochastic differential equations, Uncertainty quantification, and others.
                        </p>

                        <h3>Minisymposia</h3>
                        <p>
                        Minisymposia proposals are welcome. A minisymposium should consist of at
                        least four lectures related to the same topic. If you are interested in 
                        organizing a minisymposium, please send a title, short abstract, and  
                        list of speakers to solin(at)unr(dot)edu.
                        <!-- Current list of minisymposia can be found <a href="/minisymposia/">here</a>. -->
                        </p>

                        <h3>Awards</h3>
                        <p>
                        Best Best Poster will be awarded with a diploma and a prize
                        during a ceremony to take place on Thursday, May 22. All student presentations 
                        and all posters are automatically nominated. The selection will be done by 
                        a vote of all participants. 
                        </p>

                        <h3>Software afternoon</h3>
                        <p>
                        Important part of each FEMTEC conference is a software afternoon featuring
                        computational software projects of participants. Presented can be any computational
                        software that has reached certain level of maturity, i.e., it is used outside
                        of the author's institution, and it has a web page and a user documentation.
                        If you would like to present your software project, let us know soon.
                        </p>

                        <h3>Proceedings</h3>
                        <p>
                        Proceedings of FEMTEC 2013 will appear in 
                        <a href="http://www.journals.elsevier.com/journal-of-computational-and-applied-mathematics/">Journal
                        of Applied and Computational Mathematics (JCAM)</a>,
                        an international journal with impact factor.
                        </p>
                        <h3>Registration and Abstract Submission</h3>
                        <p>
                            In order to register and submit an abstract for FEMTEC 2013, click the "login" link
                            in the top-right corner of the page and follow the instructions.
                        </p>
<!--                        <h3>Organizers</h3>
                        <p>
                            FEMTEC 2013 is organized by <a href="http://femhub.com">FEMhub Inc.</a> along with
                            collaborators from <a href="http://www.sandia.gov">Sandia National Laboratories</a>, <a href="http://www.zcu.cz/en/">University of West Bohemia</a>,
                            <a href="http://www.cvut.cz/en?set_language=en">Czech Technical University</a>, <a href="http://www.tu-darmstadt.de/index.en.jsp">Technical University of Darmstadt</a>, and
                            <a href="http://www.uni-erlangen.org/">University of Erlangen-Nuernberg</a>.
                        </p>
-->
                    {% endblock %}
                </div>
            </div>
            <div id="clearer"></div>
            <div id="footer">
                Copyright &copy; 2012-2013 <a href="http://femhub.com">FEMhub Inc.</a> All Rights Reserved.
            </div>
        </div>
    </body>
</html>
