{% extends "base.html" %}

{% block content %}

    <h2>Confirmed Keynote Speakers</h2>

    <ul>
	<li><b><a href="http://www.meees.org/teachers/show/id/42">Frédéric Dufour </a> (Ecole Centrale Nantes, CNRS, France)</b> </li>
	<li><b><a href="http://www.cs.duke.edu/~edels/">Herbert Edelsbrunner </a> (I. of Science and Technology, Vienna, Austria)</b> </li>
	<li><b><a href="https://team.inria.fr/reo/team-members/gerbeau/">Jean-Frédéric Gerbeau </a> (INRIA, Paris-Rocquencourt, France)</b> </li>
        <li><b><a href="http://www10.informatik.uni-erlangen.de/~ruede/">Ulrich Rüde </a> (University Erlangen-Nuremberg, Erlangen, Germany)</b> </li>
        <li><b><a href="https://online.tugraz.at/tug_online/visitenkarte.show_vcard?pPersonenGruppe=3&pPersonenId=2B467FDE88603B6D">Oszkar Biro</a> (I. für Grundlagen und Theorie der Elektrotechnik, Graz, Austria)</b> </li>
    </ul>

    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Zdenek Bittnar</b> (Faculty of Civil Engineering, CTU Prague)</li>
        <li><b>Alain Bossavit</b> (Laboratoire de Genie Electrique de Paris, France)</li>
        <li><b>John Butcher</b> (Auckland University, New Zealand)</li>
        <li><b>Antonio DiCarlo</b> (University Roma Tre, Rome, Italy)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Stefano Giani</b> (University of Nottingham, UK)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, Sophia-Antipolis, France)</li>
        <li><b>Jichun Li</b> (University of Nevada, Las Vegas, USA)</li>
        <li><b>Shengtai Li</b> (Los Alamos National Laboratory, Los Alamos, USA)</li>
        <li><b>Alberto Paoluzzi</b> (University Roma Tre, Rome, Italy)</li>
        <li><b>Francesca Rapetti</b> (University of Nice, France)</li>
        <li><b>Sascha Schnepp</b> (ETH Zurich, Switzerland)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <b>Pavel Solin</b>    (University of Nevada, Reno, USA), 
        <b>Glen Hansen</b>    (Sandia NL, Albuquerque),
        <b>Pavel Karban</b>   (University of West Bohemia, Pilsen, Czech Republic),
        <b>Jaroslav Kruis</b>   (Czech Technical University, Prague),
        <b>Dimitri Kuzmin</b>   (University of Erlangen-Nuernberg, Germany),
        <b>Sascha Schnepp</b> (ETH Zurich, Switzerland).
<!--        <b>Valmor de Almeida</b>   (Oak Ridge National Laboratory, Oak Ridge, USA), 
        <b>Jichun Li</b>      (University of Nevada, Las Vegas, USA), -->


    </ul>
{% endblock %}
