{% extends "base.html" %}

{% block content %}

    <h2>Oral Sessions</h2>

    Recommended presentation for Oral sessions for ESCO 2014 conference:

    <ul>
        <li>The reserved time for your presentation is 15 minutes. </li>
	<li>Please use presentation under Power Point or PDF format. </li>
	<li>The authors are asked to copy your presentation 10 minutes before session starting in cooperation with a member of organizing committee. </li>
	<li>The reserved time for discussion is 5 minutes. </li>
	<li>The presenting authors are kindly asked to keep these times. </li>
    </ul>



    <h2>Poster Sessions</h2>

    Please find here some additional information on the preparation of the posters:
    <ul>
        <li>The reserved area for your poster is of height 110 cm and of width 70 cm. Please make sure that you do not exceed this space. </li>
	<li>We recommend to prepare the A1 poster size (portrait). Select the font size of your choice. The conference information can be placed in the header, but it is not necessary. </li>
	<li>Orientation should be vertical. </li>
	<li>You do not have the possibility to print your poster at the conference. </li>
	<li>Magnets to fix the poster will be provided. However, if you need any additional material to fix or stick together your poster, please bring them with you. </li>
	<li>Please make sure that your poster is readable from a distance of at least 1 m. </li>
	<li>At the top of your poster, please write the poster title (same as your submitted abstract), the name and affiliation of the author(s) in a size that can be easily read from a farer distance. </li>
    </ul>

{% endblock %}
