{% extends "base.html" %}

{% block content %}

If you are interested in organizing a minisymposium, please send a tentative title and 
a brief description to {{ conf_email }}.<br>
&nbsp;

    <h2>List of Minisymposia</h2>
    <ul>
        <li><b>Selected Applications of Computational Geometry (J. H. Brandts - University of Amsterdam, The Netherlands)</b><br>
The influence of the geometry of triangulations on qualitative aspects of
finite element approximations is by now well known, and has initiated
research in the area of simplicial triangulations using simplices with
restricted shapes only, such as nonobtuse or even acute simplices.
Such simplices can conveniently be described in terms of linear algebra,
leading to the studies of special matrix classes, such as ultrametric
matrices, (inverse-) M-matrices, and completely positive matrices.
This minisymposium aims to bring together people who are active in 
the field of Computational Geometry, with geometry and computation 
as common divisor.
        </li>
        <li><b>Sensitivity Computations in Computational Science and Engineering (M. Buecker and F. Schiller - University of Jena, Germany)</b><br>
Sensitivities are basic building blocks in a variety of numerical techniques for
the solution of optimization problems, inverse problems, or uncertainty quantification.
Not only they are necessary from a methodological point of view; they also provide
additional insight into the scientific and engineering problem to which the numerical techniques are applied.
This minisyposium will focus on recent advances in methods for the efficient computation of sensitivities
and show their high relevance in actual applications like geophysics and hydrology.
        </li>
        <li><b>Computational Modeling of Porous Media Flow (Michal Kuraz - Czech Technical University, Prague)</b><br>
Mathematical modeling of the porous media flow and contaminant transport could be summarized into two distinct categories. It is the reliable solution of the governing equations and the macro parameter description of the porous media.
The numerical solution of the governing equations of the porous media flow involves several difficulties originating from steep gradients in nonlinear constitutive laws for the unsaturated hydraulic functions. And the macro parameter description  involves another severe problem in a search for parameters that macroscopically describe highly non-homogeneous and complicated system of the porous media flow.
        </li>
        <li><b>Paremeter Identification in a Probabilistic Setting (Bojana Rosic - Inst. für Wiss. Rechnen, Braunschweig)</b><br>
Inverse problems in a deterministic setting are typically ill-posed as
the mapping from parameter to observable is usually not invertible.
In order to cope with the solution uniqueness and instabilities under data
perturbations, special optimisation methods have to be developed.
These methods are fundamentally based on the introduction of a regularization 
term so that the predicted system state is constrained to remain
close to the observed system state. The objective
of the minisymposium is to familiarize the participants with the Bayesian
inference in full and linear setting and share the knowledge about 
numerical methods such as Markov Chain Monte Carlo algorithms, Kalman
lter estimate, spectral based linear Bayesian procedures etc.
        </li>
        <li><b>Bayesian Framework for Multiphysics Inverse Problems (Helcio R.B. Orlande - Federal University of Rio de Janeiro, Rio de Janeiro, Brasil; Marcelo J. Colaço - Federal University of Rio de Janeiro, Rio de Janeiro, Brasil; Zbigniew Buliński - Silesian University of Technology, Gliwice, Poland)</b><br>
        The application field of inverse problems 
is very wide starting with image analysis, electrical tomography, bioengineering, heat 
and mass transfer and fluid mechanics, and still new applications are reported in literature. 
Most inverse problems are ill-posed in the sense given by Hadamard, therefore 
they need regularisation. Application of Bayesian framework to inverse problems allows us 
to take advantage of all information about a given problem which can be incorporated as a 
priori distribution to the solution procedure, what makes the problem better posed. Moreover, 
solution of the inverse problem is given in terms of posterior distribution function, which 
also regularised the problem. New developments as well as applications of a well established 
Bayesian techniques like: Marcov Chain Monte Carlo, Kalman filter, Particle filter are 
welcome.
        </li>
        <li><b>Numerical Modeling of Material Behaviour on Nano, Micro or Macro Scale Level (Jaroslav Kruis - Czech Technical University, Prague)</b><br>
        This minisymposium is devoted to numerical modeling of behaviour of materials used especially in civil engineering such as concrete, composites, wood, soil, etc. Because of their complicated structure, various levels (from nano to macro) of description are used. Transport of heat, moisture and chemical species, mechanical analysis and coupled hydro-thermo-chemo-mechanical analysis are in the center of attention. Multi-level models require huge computational power which is accessible on parallel computers. Contributions dealing with single-level or multi-level analysis on single or parallel computer are welcome.
        </li>
        <li><b>Simulation and Coupling Strategies for Particle
Dynamics and CFD (Philipp Neumann - Technical University of Munich; Ulrich Ruede - University of Erlangen)</b><br>
         In this minisymposium, recent advances in simulating complex particulate
systems in the context of fluid dynamics are presented. Particular topics com-
prise the simulation of suspended particles in (turbulent) flows and the simu-
lation of large-scale molecular systems. Both high performance computing and
multiscale aspects are considered.
        </li>
        <li><b>Advances in Numerical Methods for Eigenvalue Problems and Applications (Stefano Giani - University of Durham))</b><br>
         The aim of this minisymposium is to present and discuss state-of-the-art numerical methods for eigenvalue problems and their applications. Contributions on error analysis, error estimators, guaranteed computable bounds for eigenvalues, convergence for adaptive schemes, advances in numerical linear algebra, polygonal finite elements and stochastic finite elements are most welcome.
        </li>
        <li><b> Computational Methods in Applied Inverse Problems (Aaron Luttman - National Security Technologies, LLC; Robert Zemcik - West Bohemia University)</b><br>
        Indirect measurements in science and engineering provide data that are often not the quantities of primary interest. Inferring the information of interest then becomes a problem of mathematically modeling the experiment and data capture and solving an associated inverse problem. This minisymposium will focus on recent work on computational methods for solving inverse problems arising from real experiments. Some of the focus applications are imaging science, signal processing, and stress and strain, but submissions of work on computational methods for inverse problems in other applications are welcome. 
        </li>
        <li><b>Coupled problems in electromagnetics (P. Karban - University of West Bohemia)</b><br>
        The aim of this minisymposium is to present and discuss state-of-the-art
        mathematical models, numerical methods, and computational techniques for 
        solving multiphysics coupled problems rooted in electromagnetic fields.
        Target applications include induction and dielectric heating, electromechanical 
        transducers, and high-voltage phenomena of thermoelasticity.
        </li>
        <li><b>Advances in Discontinuous Galerkin Methods for complex wave
        propagation problems (S. Schnepp - ETH Zurich)</b><br>
        This  minisymposium is
        concerned  with  advances  and  novel DG  techniques  for  the
        computer   simulation   of    complex   wave   propagation   problems.
        Contributions  on  methodological advances  -  such  as hybridized  DG
        methods, efficient time integration, error estimation and adaptivity -
        or  the  modeling  of  complex  situations and  materials  -  such  as
        encountered in nano-sciences,  bioelectromagnetics or coupled problems
        - are most welcome. </li>
    </ul>
<!--
    <ul>
        <li><b>Applications of FEM in Theoretical Chemistry and Computational Physics  (M. Braun, 
        University of South Africa)</b><br>
        The aim  of this minisymposium is to exchange and discuss ideas for
        the application of the finite element method
        in theoretical chemistry and computational physics. The main focus will
        be on methods to solve the three dimensional
        Schroedinger type equations that result from Hartree Fock /  Density
        Functional and similar approaches applied to
        small and medium sized molecules and/or periodic solids. It is hoped,
        that researchers from different groups working
        on this and related topics will benefit from the interaction and
        possible collaborative projects emanating from this minisymposium.
        </li>
        <li><b>Uncertainty Quantification in Security Science (A. Luttman and E. Machorro, National 
        Security Technologies)</b><br>
        Security science" is the name given to basic and applied research whose primary mission 
        is to drive national security policy and decisions based on rigorous scientific analysis. 
        Among the most important problems in security science is to quantify the uncertainty associated 
        with the computational results that are delivered to policymakers. In this session the speakers 
        will present research on computational approaches to uncertainty quantification in linear and 
        nonlinear inverse problems, graph network analysis, experimentation diagnostic analysis, and 
        imaging science.
        </li>
        <li><b>Recent Developments in Adaptivity and A Posteriori Error Analysis (P. Houston, University of Nottingham; 
        T. Barth, NASA AMES; M. Larson, Umea University)</b><br>
        The exploitation of computable a posteriori error bounds within adaptive mesh-refinement 
        strategies is of fundamental importance to guarantee the reliable and efficient numerical 
        simulation of mathematical models arising in computational science and engineering. The 
        objective of this minisymposium is to present recent work undertaken in this field; in 
        particular, topics of interest will include: dual-weighted-residual error estimation, 
        adaptive model reduction, error estimation of time-dependent problems, and 
        hp-adaptive refinement strategies.
        </li>
        <li><b>Numerical modeling of metamaterials (J. Li, UNLV)</b><br>
        The aim of this minisymposium is to exchange
        ideas and further explore some major challenges and approaches to
        numerical modeling of wave propagation in metamaterials, including
        numerical studies of nonlinear metamaterials, multiscale modeling,
        material parameters retrieval, optimization algorithms and
        applications of metamaterials. </li>
    </ul>
-->

    <h2>Software Workshops</h2>
 

<ul>
<li>
<b><a href="http://nclab.com">NCLab</a></b> - Free cloud computing platform for education and research
</li>
<li>
<b><a href="http://www.dune-project.org">DUNE</a></b> - Distributed and Unified Numerics Environment 
</li>
<li>
<b><a href="http://www.agros2d.org/.">Agros2D</a></b> - Multiplatform interactive graphical application for the solution of engineering problems based on adaptive hp-FEM
</li>
<li>
<b><a href="http://hpfem.org/hermes">Hermes</a></b> - C/C++ library for rapid development of adaptive hp-FEM and hp-DG solvers with emphasis on time-dependent nonlinear multiphysics problems
</li>
<li>
<b><a href="http://gramian.de">emgr</a></b> - Toolbox for model order reduction, uncertainty quantification, and system identification compatible with OCTAVE and MATLAB
</li>


</ul>


{% endblock %}
