{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
    The registration fees are the same as in 2012. They cover
    conference administration, rental of conference facilities and
    audio-visual equipment, food and refreshments during the conference,
    conference receptions, preparation and printing of conference materials,
    and expenses of invited speakers.
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>Received by March 15, {{ conf_year }}</td>
        <td>Received after March 15, {{ conf_year }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>350 EUR</td>
                <td>500 EUR</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>250 EUR</td>
                <td>400 EUR</td>
            </tr>
            <tr>
                <td>Accompanying persons (guests)</td>
                <td>200 EUR</td>
                <td>250 EUR</td>
            </tr>
        </tbody>
    </table>
<p> </p>

    <p>
        In particular, the regular and student fees include <b>conference lunches,
        coffee breaks, welcome reception, farewell party,
        conference materials, and a conference T-shirt</b>. The accompanying
        person (guest) fee covers conference lunches, welcome reception, and
        farewell party.
    </p>

    <p>
    Detailed payment instructions are available in your account after login.
    </p>

    


{% endblock %}

