{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
    In an attempt to keep the participant cost low, we preserved the 
    registration fees from 2011:
    
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>Received by March 30, {{ conf_year }}</td>
        <td>Received after March 30, {{ conf_year }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>450 USD</td>
                <td>750 USD</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>350 USD</td>
                <td>550 USD</td>
            </tr>
            <tr>
                <td>Accompanying persons (guests)</td>
                <td>250 USD</td>
                <td>350 USD</td>
            </tr>
        </tbody>
    </table>
<p> </p>

    <p> 
    Accommodation is to be paid directly to the Stratosphere hotel. Please see the 
    <a href="http://femtec2013.femhub.com/venue/">Conference Venue</a> section 
    for details. 
    </p> 

    <p> 
        The regular and student conference fees cover conference administration, 
        on-site work of technicians,
        rental of conference facilities and audio-visual equipment, 
        coffee breaks, welcome reception,  
        preparation and printing of conference materials, 
        and expenses of invited speakers. Each participant will receive 
        a conference T-Shirt. The accompanying person (guest) fee 
        covers coffee breaks, welcome reception, farewell party, and the 
        conference T-Shirt.
    </p>

    <p>
    Detailed payment instructions are available in your account after login.
    </p>

    


{% endblock %}

