{% extends "base.html" %}

{% block content %}
    <h2>Conference Venue</h2>

    <p>
        <a href="http://www.lonelyplanet.com/europe/travel-tips-and-articles/lonely-planets-best-in-europe-2014">Pilsen</a> is a beautiful historical city whose origins date back to the 13th
        century. On 6 May 1945, near the end of World War II, it was liberated 
        from the Nazis by the 16th Armored Division of General Patton's 3rd Army. 
        An overview of the rich Pilsen's history can be found on its
        <a href="http://en.wikipedia.org/wiki/Plze%C5%88">Wikipedia page</a>.
        The city features many sightseeing attractions.
    </p>

    <p>
        The conference will take place in the historical
        <a href="http://www.prazdrojvisit.cz/en/brewery-conference-centre/">conference center Secese</a>
        of the Pilsner Urquell Brewery, and catering will be provided by the famous brewery restaurant
        <a href="http://www.naspilce.com/en">Na Spilce</a>.
    </p>

    <p>
        Part of the conference program will be optional tours of the
        <a href="http://www.prazdrojvisit.cz/en/brewery-museum/">Pilsner Urquell brewery museum</a>,
        <a href="http://www.plzenskepodzemi.cz/en/">historical undergrounds of Pilsen</a>, and
        <a href="http://en.wikipedia.org/wiki/Cathedral_of_St._Bartholomew_(Plze%C5%88)">St. Bartholomeus Cathedral</a>.
    </p>

    <h2>Travel Information</h2>

    <p>
        Conference registration will open at 4 pm in the lobby of the hotel Angelo Pilsen on Sunday June 15, 2014. Dinner will be provided for those who do not arrive too late (the restaurant stops serving dinner at 9 pm).
    </p>

    <h4>Using a train from Prague</h4>

    <p>
        This is a recommended way of transportation as the Angelo Hotel is located approx. 400 m from the
        Pilsen Railway Station. The trains leave from the Prague Main Railway Station
        (Praha Hlavni Nadrazi) often and the trip takes less than 3 hours. 
    </p>
    <p>
	When coming through the Prague Airport, use the <a href="http://www.dpp.cz/en/bus-ae-airport-express/">Airport Express</a> shuttle
        service which takes you there directly.	Main Railway Station (Praha Hlavni Nadrazi) is the terminal station of the AE - make sure to not get off 
	too soon. Under normal traffic circumstances, the trip lasts about 45 minutes. When arriving by plane, we recommend 
	that you buy at the airport approx. 1000 CZK (equivalent of 35 EUR) to pay for transportation to Pilsen. 
	Ask for 100-200 CZK bills as the driver in the AE will not accept a 1000 bill.
    </p>
    <p>	
	When coming from other parts of the city, the Main Railway
        Station is a stop of the red line "C" of Prague subway. Train tickets can be purchased in the lobby
        of the railway station, or directly in the train (higher fees apply).  
    </p>

<p>
Sample departure times from the Main Railway station to Pilsen are: 5:15 am, 6:15 am, 7:15 am, 8:15 am, 8:40 am, 9:15 am, 10:15 am, 11:15 am, 12:15 pm, 13:15 pm, ..., 21:15 pm, 23:40 pm.
Sample departure times from Pilsen to Prague are: 4:07 am, 5:07 am, 6:07 am, 7:07 am, 8:07 am, 9:07 am, 10:07 am, 11:07 am, 12:07 pm, 13:07 pm, 13:55 pm, 14:07 pm, 15:07 pm, 15:55 pm, 16:07 pm, 17:07 pm, ..., 20:07 pm, 21:09 pm. To search for a train connection online, use the page <a href="http://jizdnirady.idnes.cz/vlakyautobusymhdvse/spojeni/">jizdnirady.idnes.cz</a>.
</p>

    <h2>Accommodation</h2>

    <p>
        A limited number of rooms has been reserved in the <a href="http://www.angelo-pilsen.cz/">Angelo Pilsen</a>
        hotel across the street from the conference venue, at a special conference price of 60 EUR single room
        and 70 EUR double room (in both cases including breakfast). It is necessary to mention that you belong to the {{ conf_name_upper }} {{ conf_year }} conference while
        making a reservation.
	<hr>
	Send your accommodation requests to the email address: <b>sales06@angelo-pilsen.cz</b> with code in the subject: <b>{{ conf_name_upper }} {{ conf_year }}</b>
	<hr>
    </p>
    <p>
        Alternatively, accommodation is possible in the
        <a href="http://www.marriott.com/hotels/travel/prgpz-courtyard-pilsen/">Marriott Courtyard Pilsen</a>
        and many other hotels in Pilsen.
    </p>

    <h2>Map</h2>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        pilsen_lat = 49.74520;
        pilsen_lon = 13.38500;

        pilsen_zoom = 15;

        var map;

        markers = [];

        $(document).ready(function() {
            pilsen_latlon = new google.maps.LatLng(pilsen_lat, pilsen_lon);

            map = new google.maps.Map(document.getElementById("map"), {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: pilsen_latlon,
                zoom: pilsen_zoom,
            });

            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(49.745985, 13.387030),
                title: "Angelo Hotel",
                map: map,
            }));

            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(49.748530, 13.381530),
                title: "Marriott Hotel",
                map: map,
            }));

            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(49.747230, 13.387730),
                title: "Na Spilce Restaurant",
                map: map,
            }));

            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(49.748947, 13.380708),
                title: "Brewery Museum",
                map: map,
            }));

            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(49.747588, 13.377632),
                title: "St. Bartholomeus Cathedral",
                map: map,
            }));
        });
    </script>

    <div id="map"></div>
{% endblock %}
