{% extends "base.html" %}

{% block content %}
<h2>Welcome {{ user.get_full_name }}</h2>

<p>
Please use the menu on the left to edit your profile, submit or modify your abstract, 
or change your password. An automated abstract submission form becomes available 
once your profile is submitted.
</p>

<p>
<b>Minisymposia proposals</b> should be sent to the organizers directly, they are
not submitted through this system. If you wish to contribute to an 
<a href="http://esco2012.femhub.com/minisymposia/">existing minisymposium</a>,
please contact its organizer or the organizing committee directly.
</p>


{% endblock %}

