{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function addAuthorField(event, after, initial) {
    if (after === undefined) {
        after = $(event.target).parent().parent();
    } else {
        after = $(after);
    }

    var el = after.after($("#author_tpl").html());

    if (initial) {
        el = el.next();

        el.find("[name='first_name']").val(initial.first_name);
        el.find("[name='last_name']").val(initial.last_name);
        el.find("[name='affiliation']").val(initial.affiliation);
        el.find("[name='email']").val(initial.email);
    }
}

function delAuthorField(event) {
    if ($("form li.author").length === 1) {
        alert("Abstract must have at least one author.");
    } else {
        $(event.target).parent().parent().remove();
    }
}

function addBibitemField(event, after, initial) {
    if (after === undefined) {
        after = $(event.target).parent().parent();
    } else {
        after = $(after);
    }

    var el = after.after($("#bibitem_tpl").html());

    if (initial) {
        el = el.next();

        function bibitemAuthorToString(bibauthor) {
            return bibauthor.bibauthor_first_name + " " + bibauthor.bibauthor_last_name;
        }

        function bibitemAuthorsToString(bibauthors) {
            var arr = [];

            $.each(bibauthors, function(i, bibauthor) {
                arr.push(bibitemAuthorToString(bibauthor));
            });

            return arr.join(", ");
        }

        //el.find("[name='bibitem_bibid']").val(initial.bibid);
        //el.find("[name='bibitem_bibid']");
        el.find("[name='bibitem_authors']").val(bibitemAuthorsToString(initial.bibitem_authors));
        el.find("[name='bibitem_title']").val(initial.bibitem_title);
        el.find("[name='bibitem_other']").val(initial.bibitem_other);
    }
}

function delBibitemField(event) {
    if ($("form li.bibitem").length === 1) {
        alert("Abstract must have at least one bibliography item.");
    } else {
        $(event.target).parent().parent().remove();
    }
}

function validateForm() {
    var title = $("form [name='title']");
    var content = $("form [name='abstract']");
    var first_names = $("form [name='first_name']");
    var last_names = $("form [name='last_name']");
    var affiliations = $("form [name='affiliation']");
    var emails = $("form [name='email']");
    //var bibitems_bibid = $("form [name='bibitem_bibid']");
    var bibitems_authors = $("form [name='bibitem_authors']");
    var bibitems_title = $("form [name='bibitem_title']");
    var bibitems_other = $("form [name='bibitem_other']");

    $('form > ul > li').removeClass('error');

    if (title.val().length == 0) {
        title.parents('li').addClass('error');
        alert("Title must be non-empty.");
        return false;
    }

    if (content.val().length == 0) {
        content.parents('li').addClass('error');
        alert("Abstract must be non-empty.");
        return false;
    }

    function Error() {}

    function lengthValidator(val) {
        return val.length !== 0;
    }

    function validateEls(els, message, validators) {
        if (validators === undefined) {
            validators = [];
        }

        validators.push(lengthValidator);

        $.each(els, function(i, el) {
            var val = $(el).val();

            $.each(validators, function(j, validator) {
                if (!validator(val)) {
                    $(el).parents('li').addClass('error');
                    alert(message);
                    throw new Error();
                }
            });
        });
    }

    function spaceValidator(val) {
        return val.indexOf(" ") !== -1;
    }

    try {
        validateEls(first_names, "Missing or invalid author's first name.");
        validateEls(last_names, "Missing or invalid author's last name.");
        validateEls(affiliations, "Missing or invalid author's affiliation.");
        validateEls(emails, "Missing or invalid author's E-mail.");
        //validateEls(bibitems_bibid, "Missing or invalid bibliography item's id.");
        validateEls(bibitems_authors, "Missing or invalid bibliography item's authors.");
        validateEls(bibitems_title, "Missing or invalid bibliography item's title.");
        validateEls(bibitems_other, "Missing or invalid bibliography item's other data.");
    } catch (exc) {
        if (exc instanceof Error) {
            return false;
        } else {
            throw exc;
        }
    }

    return true;
}

$(document).ready(function() {
    {% if initial %}
    var initial = $("#initial").html().trim();
    var data = JSON.parse(initial);

    $("form [name='title']").val(data['title']);
    $("form [name='abstract']").val(data['abstract']);

    if (data.authors.length === 0) {
        addAuthorField(undefined, "form ul li:last");
    } else {
        $.each(data.authors, function(i, author) {
            addAuthorField(undefined, "form ul li:last", author);
        });
    }

    if (data.bibitems.length === 0) {
        addBibitemField(undefined, "form ul li:last");
    } else {
        $.each(data.bibitems, function(i, bibitem) {
            addBibitemField(undefined, "form ul li:last", bibitem);
        });
    }
    {% else %}
    addAuthorField(undefined, "form ul li:last");
    addBibitemField(undefined, "form ul li:last");
    {% endif %}
});
</script>

<script id="initial" type="plain/text">
{% if initial %}
{{ initial|safe }}
{% endif %}
</script>
{% endblock %}

{% block content %}
    <h2>
        {% block header %}
        Submit Abstract
        {% endblock %}
    </h2>

    <p>
    Please enter your abstract below. Latex formulas are allowed, inclusion
    of images is not supported, and a few references to related or competitive work
    are required. The abstract must not exceed one page, including references.
    After submission, your abstract will go through a quick format compliance check
    followed by a notification. If the format is correct, your abstract will be automatically
    forwarded for review. The review will be followed by a notification again.
    At any time, you can return to this page and check the current status of your
    submission.
    </p>

    <p>
    <b>Some Hints</b>:
    <ul>
    <li>
         After filling the form below, click "Submit Abstract".
    </li>
    <li> If your abstract compiles, please click on the PDF button and visually check the result. 
          In particular, check the capitalization scheme of your title - First Letters of Important 
          Words Should Be Capitalized.
    </li>
    <li> If your abstract does not compile, please click on the LOG button and check the end
          of the log. There will be an error message. Since the error message refers to an auto-generated
          file, this will not immediately help you identify the problem. Make sure that you 
          filled all required fields, and if you do not know what the error means, contact us and 
          we will be happy to help. You do not need to send the log as we can view it in the database.
    </li>
    <!--<li> Avoid the ampersand symbol '&' if possible. If you need it, for example in your references,
          type it as '\&'. Plain ampersand has a special meaning in Latex and the compiler is going to 
          give you an error if you use it incorrectly.
    </li>-->
    <li> Please add one reference at a time. If you enter multiple references into one item, 
          they will be all together displayed as just one bibliography item.
    </li>
    <li> We strive for the highest quality of the {{ conf_name_upper}} meetings. Therefore we appreciate if you 
          invest a reasonable effort into the quality of your abstract. The body of the abstract 
          should be at least 10 - 15 lines of text, and a few references are required. The total
          length of your abstract should not exceed one page (references included).
    </li>
    </ul>
    </p>

    {% if error %}
        <div class="note error">
            <b>ERROR:</b> {{ error|safe }}
        </div>
    {% endif %}

    {% if message %}
        <div class="note success">
            {{ message|safe }}
        </div>
    {% endif %}

    <div class="form large">
        <form id="form" method="post" action=".{% if next %}/?next={{ next }}{% endif %}" onsubmit="return validateForm()">
            <ul>
                <li id="title">
                    <label>Title</label>
                    <br />
                    <input type="text" name="title"></input>
                    <span>Example: "New Finite Element Method for Electromagnetics".</span>
                </li>
                <li id="abstract">
                    <label>Abstract <span style="font-size: 90%">(Only text, do not include literature here.)</span></label>
                    <br />
                    <textarea name="abstract"></textarea>
                    <span>Your abstract should have at least 10 lines.</span>
                </li>
            </ul>
            <button id="submit" type="submit">{% block submit %}Submit Abstract{% endblock %}</button>
        </form>
    </div>

    <div id="author_tpl" style="display: none">
        <li class="author">
            <label>Author:</label>
            <br />
            <span class="inline first_name">
                <input type="text" name="first_name"></input>
                <span>First name</span>
            </span>
            <span class="inline last_name">
                <input type="text" name="last_name"></input>
                <span>Last name</span>
            </span>
            <br />
            <span class="block affiliation">
                <input type="text" name="affiliation"></input>
                <span>Affiliation</span>
            </span>
            <br />
            <span class="block email">
                <input type="text" name="email"></input>
                <span>E-mail address</span>
            </span>
            <br />
            <br />
            <span>Add a new author or remove this one?</span>
            <span class="links">
                <a href="javascript://" onclick="addAuthorField(event)">add new,</a>
                <a href="javascript://" onclick="delAuthorField(event)">remove this</a>
            </span>
        </li>
    </div>

    <div id="bibitem_tpl" style="display: none">
        <li class="bibitem">
            <label>Bibliography item:</label>
            <br />
            <!-- <span class="block">
                <input type="text" name="bibitem_bibid"></input>
                <span>Label for eventual cross-referencing, e.g., "smith-taylor-1".</span>
            </span> -->
            <br />
            <span class="block">
                <input type="text" name="bibitem_authors"></input>
                <span>Authors, e.g., "J. Smith, M. Taylor".</span>
            </span>
            <br />
            <span class="block">
                <input type="text" name="bibitem_title"></input>
                <span>Title, e.g., "The Method That Solves Everything".</span>
            </span>
            <br />
            <span class="block">
                <input type="text" name="bibitem_other"></input>
                <span>Remaining data, e.g., "J. Comput. Phys. 230 (2011) 1182-1197"</span>
            </span>
            <br />
            <br />
            <span>Add a new bibliography item or remove this one?</span>
            <span class="links">
                <a href="javascript://" onclick="addBibitemField(event)">add new,</a>
                <a href="javascript://" onclick="delBibitemField(event)">remove this</a>
            </span>
        </li>
    </div>
{% endblock %}
