{% extends "base.html" %}

{% block content %}

    <h2>Confirmed Keynote Speakers</h2>

    <ul>
        <li><b>Lois Curfman McInnes</b> (Computational Scientist, Argonne National Laboratory, USA)</li>
        <li><b>Stan Posey</b> (GPU computing specialist, NVIDIA, USA)</li>
        <li><b>Michael Gee</b> (Professor, TU Muenchen, Germany)</li>
        <li><b>Michael Heroux</b> (Leader of the Trilinos project, Sandia National Laboratory, USA)</li>
        <li><b>TBA</b></li>
    </ul>

    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Zdenek Bittnar</b> (Faculty of Civil Engineering, CTU Prague)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Stefano Giani</b> (University of Nottingham, UK)</li>
        <li><b>Glen Hansen</b> (Sandia National Laboratories, Albuquerque, USA)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Matthew Knepley</b> (University of Chicago, USA)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, France)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Gael Varoquaux</b> (CEA Saclay, France)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <li><b>Pavel Solin</b>    (FEMhub Inc.)</li>
        <li><b>Glen Hansen</b>    (Sandia NL, Albuquerque)</li>
        <li><b>Pavel Karban</b>   (University of West Bohemia, Pilsen)</li>
        <li><b>Jaroslav Kruis</b> (Czech Technical University, Prague)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Dmitri Kuzmin</b>  (University of Erlangen-Nuernberg, Germany)</li>

    </ul>
{% endblock %}
