{% extends "base.html" %}

{% block content %}

    <h2>Confirmed Keynote Speakers</h2>

    <ul>
        <li><b>John Butcher</b> (Massey University, New Zealand)</li>
        <li><b>Michael Gee</b> (TU Muenchen, Germany)</li>
        <li><b>Michael Heroux</b> (Sandia National Laboratory, USA)</li>
        <li><b>Lois Curfman McInnes</b> (Argonne National Laboratory, USA)</li>
        <li><b>Stan Posey</b> (NVIDIA, USA)</li>
    </ul>

    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Zdenek Bittnar</b> (Faculty of Civil Engineering, CTU Prague)</li>
        <li><b>Alain Bossavit</b> (Laboratoire de Genie Electrique de Paris, France)</li>
        <li><b>John Butcher</b> (Massey University, New Zealand)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Stefano Giani</b> (University of Nottingham, UK)</li>
        <li><b>Glen Hansen</b> (Sandia National Laboratories, Albuquerque, USA)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, Sophia-Antipolis, France)</li>
        <li><b>Jichun Li</b> (University of Nevada, Las Vegas, USA)</li>
        <li><b>Shengtai Li</b> (Los Alamos National Laboratory, Los Alamos, USA)</li>
        <li><b>Alberto Paoluzzi</b> (University Roma Tre, Rome, Italy)</li>
        <li><b>Jean Ragusa</b> (Texas A&M University, College Station, USA)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Gael Varoquaux</b> (CEA Saclay, France)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <li><b>Pavel Solin</b>    (FEMhub Inc.)</li>
        <li><b>Glen Hansen</b>    (Sandia NL, Albuquerque)</li>
        <li><b>Pavel Karban</b>   (University of West Bohemia, Pilsen)</li>
        <li><b>Jaroslav Kruis</b> (Czech Technical University, Prague)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Dmitri Kuzmin</b>  (University of Erlangen-Nuernberg, Germany)</li>

    </ul>
{% endblock %}
