{% extends "base.html" %}

{% block content %}

    <h2>Preliminary List of Minisymposia (Newest on Top)</h2>

    <ul>
        <li>Modern Numerical Methods for ODE (organized by J. Butcher)</li>
        <li>Porous Media Hydrodynamics (organized by M. Kuraz)</li>
        <li>Nuclear Fuel Recycling Simulations (organized by V. de Almeida)</li>
        <li>Adaptive Methods for Eigenproblems (organized by S. Giani)</li>
        <li>Discontinuous Galerkin Methods for Electromagnetics (organized by S. Schnepp)</li>
        <li>Undergraduate Projects in Technical Computing (organized by F. Mach)</li>
    </ul>

If you are interested in organizing a minisymposium, please send a tentative title and a brief description to esco2012-at-femhub-dot-com.

{% endblock %}
