{% extends "base.html" %}

{% block content %}
    <h2>Preliminary List of Participants</h2>
    <ul>
    <li>
    <b>Farid Abed-Meraim</b> (Arts et Métiers ParisTech, France)
    </li>
    <li>
    <b>Vivek Agarwal</b> (Indian Institute of Technology, Kanpur, India)
    </li>
    <li>
    <b>Daniele D'Agostino</b> (CNR-IMATI, Genoa, Italy)
    </li>
    <li>
    <b>Nagehan Akgun</b> (Middle East Technical University, Ankara, Turkey)
    </li>
    <li>
    <b>Rajai Alassar</b> (King Fahd U. of Petroleum & Minerals, Dhahran, Saudi Arabia)
    </li>
    <li>
    <b>Javier Almaguer</b> (Universidad Autonoma de Nuevo Leon, Mexico)
    </li>
    <li>
    <b>Gabil Amirali</b> (Sinop University, Turkey)
    </li>
    <li>
    <b>Franck Assous</b> (Ariel University Center, Ariel, Israel)
    </li>
    <li>
    <b>Selçuk H. Aydin</b> (Karadeniz Technical University, Turkey)
    </li>
    <li>
    <b>Santiago Badia</b> (UPC - CIMNE, Spain)
    </li>
    <li>
    <b>Joan Baiges</b> (CIMNE, Spain)
    </li>
    <li>
    <b>Mahmoud Bayat</b> (Tarbiat Modares University, Iran)
    </li>
    <li>
    <b>Christopher Basting</b> (University Erlangen-Nuremberg, Germany)
    </li>
    <li>
    <b>Steffen Basting</b> (University Erlangen-Nuremberg, Germany)
    </li>
    <li>
    <b>Idir Belaidi</b> (Labo LMSP/PIMMArts et Métiers, Paris, France)
    </li>
    <li>
    <b>Ludek Benes</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Abhinav Bhaskar</b> (Manipal University, Mumbai, India)
    </li>
    <li>
    <b>Melanie Bittl</b> (University of Erlangen-Nuremberg, Germany)
    </li>
    <li>
    <b>Moritz Braun</b> (University of South Africa, Pretoria, South Africa)
    </li>
    <li>
    <b>John Butcher</b> (University of Auckland, New Zealand)
    </li>
    <li>
    <b>Jan Chleboun</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Robert Cimrman</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Ali Deliceoğlu</b> (Erciyes University, Turkey)
    </li>
    <li>
    <b>Stéphane Descombes</b> (Université Nice Sophia Antipolis, France)
    </li>
    <li>
    <b>Arbtip Dheeravongkit</b> (King Mongkut's U. of Technology, Bangkok, Thailand)
    </li>
    <li>
    <b>Antonio DiCarlo</b> (University Roma Tre, Italy)
    </li>
    <li>
    <b>Alain Dimier</b> (EIFER, Karlsruhe, Germany)
    </li>
    <li>
    <b>Marc Durufle</b> (INRIA Bordeaux-Sud Ouest, France)
    </li>
    <li>
    <b>Ajinkya Edlabadkar</b> (Yeshwantrao Chavan College of Engineering, India)
    </li>
    <li>
    <b>Maximilian Emans</b> (RICAM, Linz, Austria)
    </li>
    <li>
    <b>Christian Engström</b> (Umeå University, Sweden)
    </li>
    <li>
    <b>Vladimir Fuka</b> (Charles University, Prague, Czech Republic)
    </li>
    <li>
    <b>Petr Furmanek</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Jiří Fürst</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Joscha Gedicke</b> (Humboldt-University Berlin, Germany)
    </li>
    <li>
    <b>Michael Gee</b> (Technical University of Munich, Germany)
    </li>
    <li>
    <b>Stefano Giani</b> (University of Nottingham, UK)
    </li>
    <li>
    <b>Rafał Gołąb</b> (AGH University of Science and Technology, Cracow, Poland)
    </li>
    <li>
    <b>Nikolay Gorbenko</b> (Institute of Comput. Math., Novosibirsk, Russia)
    </li>
    <li>
    <b>Luka Grubisic</b> (University of Zagreb. Croatia)
    </li>
    <li>
    <b>Edwin Haas</b> (Karlsruhe Institute of Technology, Germany)
    </li>
    <li>
    <b>Harri Hakula</b> (Aalto University, Finland)
    </li>
    <li>
    <b>Jan Halama</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Edward Hall</b> (University of Nottingham, UK)
    </li>
    <li>
    <b>Sang H. Han</b> (Korea Adv. Science and Technology Inst., Daejeon, Korea)
    </li>
    <li>
    <b>Milan Hanuš</b> (University of West Bohemia in Pilsen, Czech Republic)
    </li>
    <li>
    <b>Helmut Harbrecht</b> (University of Basel, Switzerland)
    </li>
    <li>
    <b>Jaroslava Hasnedlová</b> (Charles University, Prague, Czech Republic)
    </li>
    <li>
    <b>Vojtech Havlicek</b> (Czech University of Life Sciences, Prague)
    </li>
    <li>
    <b>Michael Heroux</b> (Sandia National Laboratories, USA)
    </li>
    <li>
    <b>Abbas Hijazi</b> (Lebanese University, Hadath, Lebanon)
    </li>
    <li>
    <b>Milan Hokr</b> (Technical University of Liberec, Czech Republic)
    </li>
    <li>
    <b>Ekkehard Holzbecher</b> (Georg-August Universität Göttingen, Germany)
    </li>
    <li>
    <b>Irina C. Husanu</b> (Drexel University, Philadelphia, USA)
    </li>
    <li>
    <b>Muhammed A. Ibrahim</b> (Salahaddin University, Iraq)
    </li>
    <li>
    <b>Fatme Jardali</b> (Beirut Arab University, Beirut, Lebanon)
    </li>
    <li>
    <b>Kunal Joshi</b> (School of Engineering, Indore, India)
    </li>
    <li>
    <b>Adil G. Karacor</b> (Turkish Air Force, Ankara, Turkey)
    </li>
    <li>
    <b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Radka Keslerova</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Akhilesh Khapre</b> (National Institute of Technology Rourkela, India)
    </li>
    <li>
    <b>Seung-Yeon Kim</b> (Chungju National University, Korea)
    </li>
    <li>
    <b>Rung Kittipichai</b> (Mahidol University, Thailand)
    </li>
    <li>
    <b>Harald Klimach</b> (German Research School for Simul. Sci. GmbH, Aachen, Germany)
    </li>
    <li>
    <b>Max Klimov</b> (All-Russia Research Institute of Automatics, Moscow, Russia)
    </li>
    <li>
    <b>Olaf Kolditz</b> (Helmholtz Centre for Env. Research, Dresden, Germany)
    </li>
    <li>
    <b>Lukas Korous</b> (Univesity of Nevada, Reno, USA)
    </li>
    <li>
    <b>Adam Kosík</b> (Charles University in Prague, Czech Republic)
    </li>
    <li>
    <b>Lukáš Koudela</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Tomas Krejci</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Petr Kropík</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Jaroslav Kruis</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Václav Kučera</b> (Charles University, Prague, Czech Republic)
    </li>
    <li>
    <b>Anna Kučerová</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Michal Kuraz</b> (Czech University of Life Sciences, Prague)
    </li>
    <li>
    <b>Pavel Kůs</b> (Institute of Thermomechanics, Prague, Czech Republic)
    </li>
    <li>
    <b>Dmitri Kuzmin</b> (University Erlangen-Nuremberg, Germany)
    </li>
    <li>
    <b>Jens Lang</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Damien Lebrun-Grandie</b> (Texas A&M University, USA)
    </li>
    <li>
    <b>Matěj Lepš</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Karel Leubner</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Jakub Lev</b> (Czech University of Life Sciences, Prague)
    </li>
    <li>
    <b>Jichun Li</b> (University of Nevada Las Vegas, USA)
    </li>
    <li>
    <b>Shengtai Li</b> (Los Alamos National Laboratory, USA)
    </li>
    <li>
    <b>Martin Lilienthal</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Florian Loos</b> (U. of the German Federal Armed Forces of Munich, Germany)
    </li>
    <li>
    <b>Petr Louda</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>František Mach</b> (West Bohemia University, Czech Republic)
    </li>
    <li>
    <b>Murat Manguoglu</b> (Middle East Technical University, Ankara, Turkey)
    </li>
    <li>
    <b>Maciej Matyka</b> (University of Wroclaw, Poland)
    </li>
    <li>
    <b>Lois C. McInnes</b> (Argonne Natinal Laboratory, Argonne, USA)
    </li>
    <li>
    <b>Bram Metsch</b> (University of Bonn, Germany)
    </li>
    <li>
    <b>Agnieszka Miedlar</b> (Technical University of Berlin, Germany)
    </li>
    <li>
    <b>Andrea Moiola</b> (SAM - ETH Zurich, Switzerland)
    </li>
    <li>
    <b>Matthias Möller</b> (Dortmund University of Technology, Germany)
    </li>
    <li>
    <b>Ali Mussa</b> (KACST, Saudi Arabia)
    </li>
    <li>
    <b>Petr Navrátil</b> (Brno University of Techology, Brno, Czech Republic)
    </li>
    <li>
    <b>Arnold Neumaier</b> (Univiersity of Vienna, Austria)
    </li>
    <li>
    <b>Jens Niegemann</b> (ETH Zürich, Switzerland)
    </li>
    <li>
    <b>Richard Norton</b> (La Trobe University, Melbourne, Australia)
    </li>
    <li>
    <b>Nima Nouri</b> (Isfahan University of Technology, Iran)
    </li>
    <li>
    <b>Jonatan Nunez</b> (University of Stuttgart, Germany)
    </li>
    <li>
    <b>Jeffrey Ovall</b> (University of Kentucky, Lexington, USA)
    </li>
    <li>
    <b>Dennis den Ouden</b> (Material Innovation Institute, Delft, Netherlands)
    </li>
    <li>
    <b>Kathrin Padberg-Gehle</b> (Technical University of Dresden, Germany)
    </li>
    <li>
    <b>David Pánek</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Helmut Podhaisky</b> (University of Halle-Wittenberg, Germany)
    </li>
    <li>
    <b>Robert Patterson</b> (Weierstrass Institute, Germany)
    </li>
    <li>
    <b>Richard Pokorny</b> (Inst. of Chemical Technology, Prague, Czech Republic)
    </li>
    <li>
    <b>Petra Pořízková</b> (Technical University in Prague, Czech Republic)
    </li>
    <li>
    <b>Vladimír Prokop</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Francesca Rapetti</b> (Université Nice Sophia Antipolis, France)
    </li>
    <li>
    <b>Mohsen Razzaghi</b> (Mississippi State University, USA)
    </li>
    <li>
    <b>Ulrich Roemer</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Eduard Rohan</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Mahmoud M. Roozbahani</b> (Tarbiat Modares University, Iran)
    </li>
    <li>
    <b>Bojana Rosic</b> (TU Braunschweig, Germany)
    </li>
    <li>
    <b>Ahmed Rouili</b> (University of Tebessa, Algeria)
    </li>
    <li>
    <b>Roberto Salas</b> (Centro de Inv. y Desarrollo de Tecnología Digital, Tijuana, Mexico)
    </li>
    <li>
    <b>Luke Satin</b> (Technical University of Ostrava, Czech Republic)
    </li>
    <li>
    <b>Bartosz Sawicki</b> (Warsaw University of Technology, Poland)
    </li>
    <li>
    <b>Bettina Schieche</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Kersten Schmidt</b> (TU Berlin, Germany)
    </li>
    <li>
    <b>Sascha Schnepp</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Karel Segeth</b> (Technical University of Liberec, Czech Republic)
    </li>
    <li>
    <b>Pavla Sehnalova</b> (Technical University of Brno, Czech Republic)
    </li>
    <li>
    <b>Michal Šejnoha</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Aleksey Serezhkin</b> (All-Russia Research Inst. of Automatics, Moscow, Russia)
    </li>
    <li>
    <b>Hamzeh Shakib</b> (Tarbiat Modares University, Iran)
    </li>
    <li>
    <b>Jakub Sistek</b> (Institute of Mathematics, Prague, Czech Republic)
    </li>
    <li>
    <b>Daria Smirnova</b> (Joint Institute for High Temperatures, Moscow, Russia)
    </li>
    <li>
    <b>Pavel Solin</b> (University of Nevada, Reno, USA)
    </li>
    <li>
    <b>Orlando Soto</b> (Science Applications International Corporation, USA)
    </li>
    <li>
    <b>Sergey Starikov</b> (Joint Institute for High Temperatures, Moscow, Russia)
    </li>
    <li>
    <b>Václav Štarman</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Diariy Sulaiman</b> (Salahaddin University, Iraq)
    </li>
    <li>
    <b>Somkid Suthaweesub</b> (King Mongkut's U. of Technology, Bangkok, Thailand)
    </li>
    <li>
    <b>Petr Svacek</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Jan Sykora</b> (Czech Technical University, Prague)
    </li>
    <li>
    <b>Tamás Szabó</b> (Basque Center for Applied Mathematics, Bilbao, Spain)
    </li>
    <li>
    <b>Münevver Tezer-Sezgin</b> (Middle East Technical University, Ankara, Turkey)
    </li>
    <li>
    <b>Jens Trommler</b> (Technische Universitaet Darmstadt, Germany)
    </li>
    <li>
    <b>Mikhail Urev</b> (Institute of Computational Mathematics, Novosibirsk, Russia)
    </li>
    <li>
    <b>Michal Vonka</b> (Institute of Chemical Technology, Prague, Czech Republic)
    </li>
    <li>
    <b>Lukas Voracek</b> (University of West Bohemia, Pilsen, Czech Republic)
    </li>
    <li>
    <b>Jie Xiong</b> (China University of Geosciences, Beijing, China)
    </li>
    <li>
    <b>Nils Zander</b> (Technische Universität München, Germany)
    </li>
    <li>
    <b>Peter Zaspel</b> (University of Bonn, Germany)
    </li>
    <li>
    <b>Chuanlei Zhai</b> (Inst. of Applied Physics and Comput. Physics, Beijing, China)
    </li>
    <li>
    <b>Qiang Zhao</b> (Inst. of Applied Physics and Comput. Math., Beijing, China)
    </li>
    <li>
    <b>Kun Zhou</b> (King Abdullah University of Science and Technology, Thuwal, Saudi Arabia)
    </li>
    <li>
    <b>Saeed Ziaei-Rad</b> (Isfahan University of Technology, Iran)
    </li>
    <li>
    <b>Alexandr Zubov</b> (Inst. of Chem. Technology, Prague, Czech Republic)
    </li>
    <li>
    <b>Ivan D. A. Zuluaga</b> (Monterrey Inst. of Technology and Higher Ed., Spain)
    </li>




    </ul>
{% endblock %}

