{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>By March 15, 2012</td>
		<td>After March 15, 2012</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>400 EUR</td>
                <td>600 EUR</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>300 EUR</td>
                <td>450 EUR</td>
            </tr>
            <tr>
                <td>Accompanying persons</td>
                <td>200 EUR</td>
                <td>300 EUR</td>
            </tr>
	    </tbody>
    </table>

    <p>
        The regular and student fees cover <b>conference lunches,
        coffee breaks, welcome reception, farewell party, excursion</b>, and standard
        conference materials. The accompanying person fee covers
        conference lunches, welcome reception, farewell party, and excursion.
    </p>

    <h3>Payment Instructions</h3>

   Payments instructions will be posted during Fall 2011.




{% endblock %}

