{% extends "base.html" %}

{% block content %}
    <h2>Post Conference Program</h2>

    <p>
        For participants wishing to spend the weekend after the conference in Prague,
        we will provide a tour of the Prague Old Town, Charles Bridge and Prague Castle 
        on Saturday June 30. It is recommended to stay in the Angelo hotel in Pilsen 
        until Saturday morning and take an early train to Prague. This takes approximately
        2 hours. Then you can leave your baggage at
        the Main Railway Station in Prague. After touring Prague, you can pick up your
        bags and go directly to the 
        Airport using the Airport Express bus. This bus goes approximately 50 minutes and 
        it leaves every 30 minutes. 
    </p>

    <div style="text-align: center">
        <a href="/media/img/prague/prague.jpg">
            <img src="/media/img/prague/prague-small.jpg" style="border: none"></img>
        </a><br>
        <a href="/media/img/prague/prague-1.jpg">
            <img src="/media/img/prague/prague-1-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-2.jpg">
            <img src="/media/img/prague/prague-2-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-3.jpg">
            <img src="/media/img/prague/prague-3-small.jpg" style="border: none"></img>
        </a>
        <a href="/media/img/prague/prague-5.jpg">
            <img src="/media/img/prague/prague-5-small.jpg" style="border: none"></img>
        </a>
    </div>

{% endblock %}
